In [1]:
import pandas as pd
from dotenv import load_dotenv
from googlemaps import convert
import googlemaps
import os
import requests
import json
import foursquare
from config import dic_categorias
from pymongo import MongoClient
import folium
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster
import matplotlib

In [2]:
load_dotenv()

True

In [3]:
tokg = os.getenv("tokg")
tokf3 = os.getenv ("tokf3")
client2= MongoClient ("localhost:27017")

In [5]:
client = foursquare.Foursquare( access_token= tokf3 )
gmaps = googlemaps.Client(key= tokg )
db = client2.get_database("ciudades")

# he borrado todo lo que tenia de datasets, y empiezo directamente con lo que sería el flujo de la api

In [34]:
dic_categorias= {
    
    "restaurantes": ["restaurant"],
    "playas": "4bf58dd8d48988d1e2941735",
    "ocio_nocturno": ["pub","Cocktail Bar"],
    "hoteles": ["hotel"],
    "ocio_deporte": ["gym", "Fitness"],
    "colegios" : ["school", "primary school", "elemental school"],
    "guarderias" : ["kindergarden", "preschool"],
    "universidades": ["college", "university"],
    "aeropuertos" : ["airport"],
    "estaciones de tren": ["train station"],
    "parques": ["park"],
    "hospitales" : ["hospital", "medical center"],
    "cines": ["cinema", "movie theatre"],
    "teatros": ["theatre"],
    "museos": ["museum"],
    "salas_de_conciertos": ["rock club", "jazz club", "concert"],
    "piscina_para_Emilio": ["pool"],
    "bibliotecas" : ["library", "book store"],               
    "centros_comerciales": ["mall", "shopping center"]
    
                                            }

input: ciudad y pais

In [177]:
test_and_create ("buenos aires","argentina")

'se han introducido los campos'

In [171]:
test_and_create ("madrid", "españa")

'Ya está creada'

In [407]:
a[0]["formatted_address"]

'Calle de Avefría, 28025 Madrid, Spain'

In [6]:
def test (nombre):
    lista= db.list_collection_names()
    return nombre in lista

In [7]:
def test_and_create( ciudad, pais):
    try: 
        busqueda= ciudad + ", " + pais #unimos en un string para pasarselo como búsqueda a gplaces
        coords=gmaps.geocode( address= busqueda)
        nombre = coords[0]['formatted_address'] # nos quedamos con el nombre, que será el de la colección
        a=coords[0]["geometry"]["location"]["lat"] 
        b=coords[0]["geometry"]["location"]["lng"]
        c = str (a) +"," + str(b) # Formato que luego entienda foursquare
        dic= {"nombre": nombre,
                "coordenadas": c,
                 "latitud":a,
                 "longitud":b}

            
        if test(nombre) == True:
            
            return (nombre)
        
        else:
            
            pass
        
            db.create_collection (nombre)   
    except: "los datos introducidos no son correctos"
        
    return  get_coords (nombre, dic)

In [8]:
def get_coords(nombre, dic):
    collection= nombre 
    db[collection].insert_one (dic)
    coord= dic["coordenadas"]
    return get_data_fields (coord, collection)

In [9]:
def get_data_fields (coord, collection):
    tokf3 = os.getenv ("tokf3")
    client = foursquare.Foursquare( access_token= tokf3 )
    cantidad=[]
    dic_insert={}
    for categoria, codigo in dic_categorias.items():  
        request = client.venues.search(params = {'query': codigo , 'll': coord, "radius": 1500, "limit": 50})
        lista=request["venues"]
        cantidad= len (lista)
        dice1={categoria: {"número":cantidad }}
        dice=[]
        for i in range (0,len (lista)): # para cada venue, sacame:
            nombre = lista[i]["name"]
            latitud= lista[i]["location"]["lat"]
            longitud= lista[i]["location"]["lng"]
            try:
                tipo = lista[i]["categories"][0]["name"]
            except:
                pass
            try:
                direccion= lista[i]["location"]["formattedAddress"]
            except:
                pass
        
            dice2 = {"nombre": nombre, 
                       "latitud":latitud,
                       "longitud": longitud,
                        "tipo" : tipo,
                        "direccion": direccion }
            dice.append (dice2)          
        
            dice1[categoria].update ({"listado": dice})
        db[collection].insert_one (dice1)
    
    return "se han introducido los campos"

In [10]:
def get_data_fields (coord, collection):
    tokf3 = os.getenv ("tokf3")
    client = foursquare.Foursquare( access_token= tokf3 )
    dic_categorias= {
    
    "restaurantes": ["restaurant"],
    "playas": "4bf58dd8d48988d1e2941735",
    "ocio_nocturno": ["pub","Cocktail Bar"],
    "hoteles": ["hotel"],
    "ocio_deporte": ["gym", "Fitness"],
    "colegios" : ["school", "primary school", "elemental school"],
    "guarderias" : ["kindergarden", "preschool"],
    "universidades": ["college", "university"],
    "aeropuertos" : ["airport"],
    "estaciones de tren": ["train station"],
    "parques": ["park"],
    "hospitales" : ["hospital", "medical center"],
    "cines": ["cinema", "movie theatre"],
    "teatros": ["theatre"],
    "museos": ["museum"],
    "salas_de_conciertos": ["rock club", "jazz club", "concert"],
    "piscina_para_Emilio": ["pool"],
    "bibliotecas" : ["library", "book store"],               
    "centros_comerciales": ["mall", "shopping center"]                                                     
            }
    for categoria, codigo in dic_categorias.items():  
        request = client.venues.search(params = {'query': codigo , 'll': coord, "radius": 1500, "limit": 50})
        lista=request["venues"]
        
        
        dice=[]
        for i in range (0,len (lista)): # para cada venue, sacame:
            nombre = lista[i]["name"]
            latitud= lista[i]["location"]["lat"]
            longitud= lista[i]["location"]["lng"]
            try:
                tipo = lista[i]["categories"][0]["name"]
            except:
                tipo= "no definido"
            try:
                direccion= str (lista[i]["location"]["formattedAddress"])[2:-2]
            except:
                direccion= "no disponible"
        
            dice2 = {"nombre": nombre,
                "categoria": categoria, 
               "latitud":latitud,
               "longitud": longitud,
                "tipo" : tipo,
               "direccion":direccion }
            dice.append (dice2)          
        
        try:   # cuando dice está vacio, dá error, así lo obviamos.
            db[collection].insert_many (dice)
        except:
            pass
    
    return (collection)

In [11]:
test_and_create ("clara campoamor", "madrid")

'Calle Clara Campoamor, 28025 Madrid, Spain'

Crear una función que haga una query de X restaurantes ok
Crear un dataframe con esa query
Ese dataframe, pasandolo a geodataframe
Con ese dataftame, plotearlo en folium

Lo creo directamente para que sea un segundo imput del usuario, de hecho puede ser el principal, y si le da error, le saco el otro para que cree la ciudad. collection e item serán desplegables, y el número será la cantidad que quiera que salga.

In [390]:
def query(collection, items, numero):
    # ver si se pueden poner varios items, modificar funcion caso
    a=list (db[collection]. find ({item: {"$exists": True}},{ item +".listado" :1, "_id":0}))
    try:
        listapeque= a[0]["restaurantes"]["listado"][:numero]
    except:
        return "No hay resultados que mostrar"
        
    df=pd.DataFrame (listapeque)
    
    return making_map (df,collection)

In [505]:
collection= test_and_create ("avenida oporto", "madrid")

In [506]:
db[collection].find_one ()

{'_id': ObjectId('60a44d02bc723d4dbad85c8f'),
 'nombre': 'Av. Oporto, Madrid, Spain',
 'coordenadas': '40.3856358,-3.7250457',
 'latitud': 40.3856358,
 'longitud': -3.7250457}

In [27]:
def get_map (collection, items):
    lista=[]
    for item in items:
        a=list (db[collection]. find ({"categoria": item},{"latitud":1,"nombre":1, "longitud":1, "categoria":1, "_id":0}).limit(15))
        lista.append (a)
    cosa=[]
    for n in range (len(lista)):
        cosa+= lista[n]
    if len (cosa)==0:
        return False
    else:
        df=pd.DataFrame (cosa)
    
    return making_map (df, collection)

In [22]:
def making_map (df,collection):
    
    a=list (db[collection]. find ({"coordenadas": {"$exists": True}},{"latitud":1,"longitud" :1, "nombre":1,"_id":0})) 
    
    lat=a[0]["latitud"]
    
    long=a[0]["longitud"]
    
    nombre= a[0]["nombre"]
    
    mapa = folium.Map(location= [lat, long], zoom_start= 14, tooltip=nombre)
    for i, row in df.iterrows():
        
        marcador = {
            "location":[row["latitud"], row["longitud"]],
            "tooltip" : row["categoria"]
        }
    
        if row["categoria"] == "Festivo":
            icon = Icon(color = "green",
                    prefix = "fa",
                    icon = "glass",
                    icon_color = "black"
        )
        
        elif row["categoria"] == "Vispera":
            icon = Icon(color = "blue",
                    prefix = "fa",
                    icon = "home",
                    icon_color = "black"
        )
        
        else:
            icon = Icon(color = "red",
                    prefix = "fa",
                    icon = "briefcase",
                    icon_color = "black"
            )
        Marker(**marcador,icon = icon ).add_to(mapa)
    return mapa

In [587]:
def making_points (df, collection, mapa):
    for i, row in df.iterrows():
        
        marcador = {
            "location":[row["latitud"], row["longitud"]],
            "tooltip" : row["categoria"]
        }
    
        if row["categoria"] == "Festivo":
            icon = Icon(color = "green",
                    prefix = "fa",
                    icon = "glass",
                    icon_color = "black"
        )
        
        elif row["categoria"] == "Vispera":
            icon = Icon(color = "blue",
                    prefix = "fa",
                    icon = "home",
                    icon_color = "black"
        )
        
        else:
            icon = Icon(color = "red",
                    prefix = "fa",
                    icon = "briefcase",
                    icon_color = "black"
            )
        Marker(**marcador,icon = icon ).add_to(mapa)
    return mapa

In [38]:
collection=test_and_create ("avenida de oporto", "madrid")

In [25]:
items= ["restaurantes", "colegios", "piscinas"]

In [30]:
mapa=get_map (collection, items)

In [ ]:
Estructura streamlit:
    
    
    separo columnas:
        
        foto1                                   foto2
        
        
    "biennvenidos blablabla"
    
    "descripción en 10 palabras"
    
    separo columnas:
        
        dataframe con count de cosas                       barchar con  lo mismo                 
        # hacer función que coja 5 colleciones               # lo mismo
        # random para mostrar
        
        
    selecbox de collectios, items
                #1º modificar funciones para que compruebe aquí si existe
    
    mapa con cosas marcadas.
    
    
    dataframe con count

In [61]:
def grafica_post(collection):
    dic_categorias= {
    
    "restaurantes": ["restaurant"],
    "playas": "4bf58dd8d48988d1e2941735",
    "ocio_nocturno": ["pub","Cocktail Bar"],
    "hoteles": ["hotel"],
    "ocio_deporte": ["gym", "Fitness"],
    "colegios" : ["school", "primary school", "elemental school"],
    "guarderias" : ["kindergarden", "preschool"],
    "universidades": ["college", "university"],
    "aeropuertos" : ["airport"],
    "estaciones de tren": ["train station"],
    "parques": ["park"],
    "hospitales" : ["hospital", "medical center"],
    "cines": ["cinema", "movie theatre"],
    "teatros": ["theatre"],
    "museos": ["museum"],
    "salas_de_conciertos": ["rock club", "jazz club", "concert"],
    "piscina_para_Emilio": ["pool"],
    "bibliotecas" : ["library", "book store"],               
    "centros_comerciales": ["mall", "shopping center"]
    
                                            }
    c= list (dic_categorias.keys())
    lista=[]
    for item in c:
        a=list (db[collection].find ({"categoria": item},{ item :1, "_id":0}))
        cantidad= len (a)
        lista.append ( { collection : cantidad } )
    df=pd.DataFrame (lista, index=c)
    return df

In [49]:
import random

In [60]:
collection=random.choice (db.list_collection_names())
collection

'610 Purdue Mall, West Lafayette, IN 47907, USA'

In [64]:
grafica_intro()

                     2109 Broadway, New York, NY 10023, USA
restaurantes                                             50
playas                                                    0
ocio_nocturno                                             0
hoteles                                                   0
ocio_deporte                                              0
colegios                                                  0
guarderias                                                0
universidades                                             0
aeropuertos                                               0
estaciones de tren                                        0
parques                                                   0
hospitales                                                0
cines                                                     0
teatros                                                   0
museos                                                    0
salas_de_conciertos                                       0
piscina_para_Emilio                                       0
bibliotecas                                               0
centros_comerciales                                       0

In [58]:
prueba= pd.DataFrame (lista, index=c)

NameError: name 'lista' is not defined

In [293]:
prueba

                     Madrid
restaurantes             50
playas                    0
ocio_nocturno            13
hoteles                  50
ocio_deporte             50
colegios                 33
guarderias                0
universidades             8
aeropuertos               4
estaciones de tren       23
parques                  50
hospitales                0
cines                     0
teatros                   3
museos                   10
salas_de_conciertos       6
piscina_para_Emilio      19
bibliotecas               0
centros_comerciales       2

In [233]:
colecciones=db.list_collection_names ()

In [235]:
import random

In [238]:
ciudad= random.choice (db.list_collection_names ())

In [351]:
grafica_intro()

                     Madrid
restaurantes             50
playas                    0
ocio_nocturno            13
hoteles                  50
ocio_deporte             50
colegios                 33
guarderias                0
universidades             8
aeropuertos               4
estaciones de tren       23
parques                  50
hospitales                0
cines                     0
teatros                   3
museos                   10
salas_de_conciertos       6
piscina_para_Emilio      19
bibliotecas               0
centros_comerciales       2

In [336]:
c

['restaurantes',
 'playas',
 'ocio_nocturno',
 'hoteles',
 'ocio_deporte',
 'colegios',
 'guarderias',
 'universidades',
 'aeropuertos',
 'estaciones de tren',
 'parques',
 'hospitales',
 'cines',
 'teatros',
 'museos',
 'salas_de_conciertos',
 'piscina_para_Emilio',
 'bibliotecas',
 'centros_comerciales']

In [348]:
c= list (dic_categorias.keys())
lista=[]
for item in c:
    a=list (db[collection].find ({item: {"$exists": True}},{ item :1, "_id":0}))
    cantidad=a[0][item]["número"]
    lista.append ( {collection : cantidad } )
df=pd.DataFrame (lista, index=c)

In [349]:
df

                     Madrid
restaurantes             50
playas                    0
ocio_nocturno            13
hoteles                  50
ocio_deporte             50
colegios                 33
guarderias                0
universidades             8
aeropuertos               4
estaciones de tren       23
parques                  50
hospitales                0
cines                     0
teatros                   3
museos                   10
salas_de_conciertos       6
piscina_para_Emilio      19
bibliotecas               0
centros_comerciales       2

In [344]:
df=pd.DataFrame (lista, index=c)

In [345]:
df

                     Madrid
restaurantes             50
playas                    0
ocio_nocturno            13
hoteles                  50
ocio_deporte             50
colegios                 33
guarderias                0
universidades             8
aeropuertos               4
estaciones de tren       23
parques                  50
hospitales                0
cines                     0
teatros                   3
museos                   10
salas_de_conciertos       6
piscina_para_Emilio      19
bibliotecas               0
centros_comerciales       2

In [354]:
db.list_collection_names()

['Bande', 'CABA', 'Muy Muy', 'Dallas', 'Allariz', 'Madrid']

In [353]:
db["Cáceres\u200e"].drop()

In [356]:
st.selectbox ()

TypeError: selectbox() missing 2 required positional arguments: 'label' and 'options'

In [387]:
items = ["restaurantes", "playas", "ocio_nocturno", "hoteles"]

In [417]:
coord= "40.3835268, -3.7318703"

In [418]:
request = client.venues.search(params = {'query': "restaurante" , 'll': coord, "radius": 1500, "limit": 50})

In [419]:
request["venues"]

[{'id': '4b8ec7faf964a520c33633e3',
  'name': 'Restaurante Asiático Real',
  'location': {'lat': 40.373784061130195,
   'lng': -3.7328624725341797,
   'labeledLatLngs': [{'label': 'display',
     'lat': 40.373784061130195,
     'lng': -3.7328624725341797}],
   'distance': 1087,
   'cc': 'ES',
   'country': 'España'},
  'categories': [{'id': '4bf58dd8d48988d142941735',
    'name': 'Asian Restaurant',
    'pluralName': 'Asian Restaurants',
    'shortName': 'Asian',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/asian_',
     'suffix': '.png'},
    'primary': True}],
  'referralId': 'v-1621368106',
  'hasPerk': False},
 {'id': '4d38a2300a288cfae335823c',
  'name': 'Bar Restaurante Los Extremeños Casa Ignacio',
  'location': {'address': 'C/ Hermanas Alonso, 2',
   'lat': 40.38746727714296,
   'lng': -3.738649910056414,
   'labeledLatLngs': [{'label': 'display',
     'lat': 40.38746727714296,
     'lng': -3.738649910056414}],
   'distance': 723,
   'postalCode': '28025',
   'cc': 'ES',
   'city': 'Madrid',
   'state': 'Madrid',
   'country': 'España',
   'formattedAddress': ['C/ Hermanas Alonso, 2', '28025 Madrid Madrid']},
  'categories': [{'id': '4bf58dd8d48988d150941735',
    'name': 'Spanish Restaurant',
    'pluralName': 'Spanish Restaurants',
    'shortName': 'Spanish',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/spanish_',
     'suffix': '.png'},
    'primary': True}],
  'referralId': 'v-1621368106',
  'hasPerk': False},
 {'id': '4e88cc9349019d14fdca761a',
  'name': "Pulpería Restaurante O'Freixo",
  'location': {'address': 'P. de Santa María De La Cabeza, 177',
   'lat': 40.38707067842374,
   'lng': -3.7145719504807975,
   'labeledLatLngs': [{'label': 'display',
     'lat': 40.38707067842374,
     'lng': -3.7145719504807975}],
   'distance': 1518,
   'postalCode': '28026',
   'cc': 'ES',
   'city': 'Madrid',
   'state': 'Madrid',
   'country': 'España',
   'formattedAddress': ['P. de Santa María De La Cabeza, 177',
    '28026 Madrid Madrid']},
  'categories': [{'id': '4bf58dd8d48988d1ce941735',
    'name': 'Seafood Restaurant',
    'pluralName': 'Seafood Restaurants',
    'shortName': 'Seafood',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/seafood_',
     'suffix': '.png'},
    'primary': True}],
  'referralId': 'v-1621368106',
  'hasPerk': False},
 {'id': '53cbbe62498eeaab3e6a7a31',
  'name': 'Restaurante Los Timbales',
  'location': {'address': 'C. Alcalá 227',
   'crossStreet': 'C. Cardenal Belluga',
   'lat': 40.385162353515625,
   'lng': -3.7323381900787354,
   'labeledLatLngs': [{'label': 'display',
     'lat': 40.385162353515625,
     'lng': -3.7323381900787354}],
   'distance': 186,
   'postalCode': '28028',
   'cc': 'ES',
   'city': 'Madrid',
   'state': 'Madrid',
   'country': 'España',
   'formattedAddress': ['C. Alcalá 227 (C. Cardenal Belluga)',
    '28028 Madrid Madrid']},
  'categories': [{'id': '4bf58dd8d48988d150941735',
    'name': 'Spanish Restaurant',
    'pluralName': 'Spanish Restaurants',
    'shortName': 'Spanish',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/spanish_',
     'suffix': '.png'},
    'primary': True}],
  'referralId': 'v-1621368106',
  'hasPerk': False},
 {'id': '508aaeb9e4b0ca23f536954d',
  'name': 'restaurante dos castillas',
  'location': {'address': 'Calle Pelicano',
   'lat': 40.383602142333984,
   'lng': -3.728745937347412,
   'labeledLatLngs': [{'label': 'display',
     'lat': 40.383602142333984,
     'lng': -3.728745937347412}],
   'distance': 265,
   'cc': 'ES',
   'city': 'Madrid',
   'state': 'Madrid',
   'country': 'España',
   'formattedAddress': ['Calle Pelicano', 'Madrid Madrid']},
  'categories': [{'id': '4bf58dd8d48988d1c4941735',
    'name': 'Restaurant',
    'pluralName': 'Restaurants',
    'shortName': 'Restaurant',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
     'suffix': '.png'},
    'primary': True}],
  'referralId': 'v-1621368106',
  'hasPerk': False},
 {'id': '4d85d4dbd5fab60cc25cff9b',
  'name': 'Restaurante Apolo',
  'location': {'address': 'C/ Antonio Moreno 2',
   'lat': 40.384604,
   'lng': -3.728628,
   'labeledLatLngs': [{'label': 'display',
     'lat': 40.384604,
     'lng': -3.728628}],
   'distance': 299,
   'postalCode': '28025',
   'cc': 'ES',
   'city': 'Madrid',
   'state': 'Madrid',
   'country': 'España',
   'formattedAddress': ['C/ Antonio Moreno 2', '28025 Madrid Madrid']},
  'categories': [{'id': '4bf58dd8d48988d1c4941735',
    'name': 'Restaurant',
    'pluralName': 'Restaurants',
    'shortName': 'Restaurant',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
     'suffix': '.png'},
    'primary': True}],
  'referralId': 'v-1621368106',
  'hasPerk': False},
 {'id': '557de22f498ea14851c245cc',
  'name': 'restaurante la suegra',
  'location': {'lat': 40.38666600881245,
   'lng': -3.740258394737685,
   'labeledLatLngs': [{'label': 'display',
     'lat': 40.38666600881245,
     'lng': -3.740258394737685}],
   'distance': 792,
   'cc': 'ES',
   'country': 'España'},
  'categories': [{'id': '4bf58dd8d48988d1e0931735',
    'name': 'Coffee Shop',
    'pluralName': 'Coffee Shops',
    'shortName': 'Coffee Shop',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_',
     'suffix': '.png'},
    'primary': True}],
  'referralId': 'v-1621368106',
  'hasPerk': False},
 {'id': '5eea108d8ad984000896c88d',
  'name': 'Restaurante Tipika',
  'location': {'address': 'Calle del General Ricardos 168',
   'lat': 40.3876643,
   'lng': -3.7333036,
   'labeledLatLngs': [{'label': 'display',
     'lat': 40.3876643,
     'lng': -3.7333036}],
   'distance': 476,
   'postalCode': '28025',
   'cc': 'ES',
   'city': 'Madrid',
   'state': 'Madrid',
   'country': 'España',
   'formattedAddress': ['Calle del General Ricardos 168',
    '28025 Madrid Madrid']},
  'categories': [{'id': '4eb1bfa43b7b52c0e1adc2e8',
    'name': 'Peruvian Restaurant',
    'pluralName': 'Peruvian Restaurants',
    'shortName': 'Peruvian',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/peruvian_',
     'suffix': '.png'},
    'primary': True}],
  'venuePage': {'id': '587061903'},
  'referralId': 'v-1621368106',
  'hasPerk': False},
 {'id': '5a64e05626659b35d9e0824a',
  'name': 'Restaurante Acisclo',
  'location': {'address': 'avenida de los poblados 131',
   'lat': 40.373474,
   'lng': -3.727312,
   'labeledLatLngs': [{'label': 'display',
     'lat': 40.373474,
     'lng': -3.727312}],
   'distance': 1183,
   'postalCode': '28025',
   'cc': 'ES',
   'city': 'Madrid',
   'state': 'Madrid',
   'country': 'España',
   'formattedAddress': ['avenida de los poblados 131', '28025 Madrid Madrid']},
  'categories': [{'id': '52e81612bcbc57f1066b7a00',
    'name': 'Comfort Food Restaurant',
    'pluralName': 'Comfort Food Restaurants',
    'shortName': 'Comfort Food',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
     'suffix': '.png'},
    'primary': True}],
  'referralId': 'v-1621368106',
  'hasPerk': False},
 {'id': '50842f97e4b03eedbf2620a7',
  'name': 'Restaurante Peruano El Cortijo',
  'location': {'lat': 40.38772051556406,
   'lng': -3.733217389168198,
   'labeledLatLngs': [{'label': 'display',
     'lat': 40.38772051556406,
     'lng': -3.733217389168198}],
   'distance': 480,
   'cc': 'ES',
   'country': 'España'},
  'categories': [{'id': '4eb1bfa43b7b52c0e1adc2e8',
    'name': 'Peruvian Restaurant',
    'pluralName': 'Peruvian Restaurants',
    'shortName': 'Peruvian',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/peruvian_',
     'suffix': '.png'},
    'primary': True}],
  'referralId': 'v-1621368106',
  'hasPerk': False},
 {'id': '586260c78190793ef7277b19',
  'name': 'restaurante nuevo china world',
  'location': {'lat': 40.385655,
   'lng': -3.726514,
   'labeledLatLngs': [{'label': 'display',
     'lat': 40.385655,
     'lng': -3.726514}],
   'distance': 512,
   'cc': 'ES',
   'country': 'España'},
  'categories': [{'id': '4bf58dd8d48988d145941735',
    'name': 'Chinese Restaurant',
    'pluralName': 'Chinese Restaurants',
    'shortName': 'Chinese',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/asian_',
     'suffix': '.png'},
    'primary': True}],
  'referralId': 'v-1621368106',
  'hasPerk': False},
 {'id': '4f521501e4b0d9ab7a001620',
  'name': 'Restaurante La Fiestilla',
  'location': {'address': 'Plaza de Setúbal, 6',
   'lat': 40.383527,
   'lng': -3.724146,
   'labeledLatLngs': [{'label': 'display',
     'lat': 40.383527,
     'lng': -3.724146}],
   'distance': 654,
   'postalCode': '28025',
   'cc': 'ES',
   'neighborhood': 'Abrantes',
   'city': 'Madrid',
   'state': 'Madrid',
   'country': 'España',
   'formattedAddress': ['Plaza de Setúbal, 6', '28025 Madrid Madrid']},
  'categories': [{'id': '4bf58dd8d48988d1db931735',
    'name': 'Tapas Restaurant',
    'pluralName': 'Tapas Restaurants',
    'shortName': 'Tapas',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/tapas_',
     'suffix': '.png'},
    'primary': True}],
  'referralId': 'v-1621368106',
  'hasPerk': False},
 {'id': '599d82625455b2341af4580f',
  'name': 'Masqdelicia Restaurante Brasileiro',
  'location': {'address': '4 Calle de Julio Antonio',
   'lat': 40.382917,
   'lng': -3.730523,
   'labeledLatLngs': [{'label': 'display',
     'lat': 40.382917,
     'lng': -3.730523}],
   'distance': 132,
   'postalCode': '28025',
   'cc': 'ES',
   'city': 'Madri',
   'state': 'Região Autônoma de Madrid',
   'country': 'España',
   'formattedAddress': ['4 Calle de Julio Antonio',
    '28025 Madri Região Autônoma de Madrid']},
  'categories': [{'id': '4bf58dd8d48988d16b941735',
    'name': 'Brazilian Restaurant',
    'pluralName': 'Brazilian Restaurants',
    'shortName': 'Brazilian',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/argentinian_',
     'suffix': '.png'},
    'primary': True}],
  'referralId': 'v-1621368106',
  'hasPerk': False},
 {'id': '599d8396c876c8759cfc81d1',
  'name': 'Mas Q Delicia - Restaurante Brasileiro',
  'location': {'address': 'Calle Julio Antonio , 4',
   'lat': 40.382928,
   'lng': -3.730418,
   'labeledLatLngs': [{'label': 'display',
     'lat': 40.382928,
     'lng': -3.730418}],
   'distance': 140,
   'postalCode': '28025',
   'cc': 'ES',
   'city': 'Madri',
   'state': 'Região Autônoma de Madrid',
   'country': 'España',
   'formattedAddress': ['Calle Julio Antonio , 4',
    '28025 Madri Região Autônoma de Madrid']},
  'categories': [{'id': '4bf58dd8d48988d16b941735',
    'name': 'Brazilian Restaurant',
    'pluralName': 'Brazilian Restaurants',
    'shortName': 'Brazilian',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/argentinian_',
     'suffix': '.png'},
    'primary': True}],
  'referralId': 'v-1621368106',
  'hasPerk': False},
 {'id': '4f136ff5e4b0a6ade254eb10',
  'name': 'Restaurante Hermanos Yagüe',
  'location': {'address': 'Plaza de Toros de Vista Alegre 21',
   'lat': 40.3867839,
   'lng': -3.7398258,
   'labeledLatLngs': [{'label': 'display',
     'lat': 40.3867839,
     'lng': -3.7398258}],
   'distance': 765,
   'postalCode': '28025',
   'cc': 'ES',
   'city': 'Madrid',
   'state': 'Madrid',
   'country': 'España',
   'formattedAddress': ['Plaza de Toros de Vista Alegre 21',
    '28025 Madrid Madrid']},
  'categories': [{'id': '4bf58dd8d48988d150941735',
    'name': 'Spanish Restaurant',
    'pluralName': 'Spanish Restaurants',
    'shortName': 'Spanish',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/spanish_',
     'suffix': '.png'},
    'primary': True}],
  'referralId': 'v-1621368106',
  'hasPerk': False},
 {'id': '4dd4d022d4c0e6b33e449e31',
  'name': 'Restaurante Taurino - El Ruedo',
  'location': {'lat': 40.390876,
   'lng': -3.729407,
   'labeledLatLngs': [{'label': 'display',
     'lat': 40.390876,
     'lng': -3.729407}],
   'distance': 844,
   'cc': 'ES',
   'city': 'Madrid',
   'state': 'Madrid',
   'country': 'España',
   'formattedAddress': ['Madrid Madrid']},
  'categories': [{'id': '4bf58dd8d48988d150941735',
    'name': 'Spanish Restaurant',
    'pluralName': 'Spanish Restaurants',
    'shortName': 'Spanish',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/spanish_',
     'suffix': '.png'},
    'primary': True}],
  'referralId': 'v-1621368106',
  'hasPerk': False},
 {'id': '4c25ea275c5ca593e62545fe',
  'name': 'Restaurante Marrovi',
  'location': {'address': 'Doctor Urquiola',
   'lat': 40.387269,
   'lng': -3.741338,
   'labeledLatLngs': [{'label': 'display',
     'lat': 40.387269,
     'lng': -3.741338}],
   'distance': 904,
   'cc': 'ES',
   'city': 'Madrid',
   'state': 'Madrid',
   'country': 'España',
   'formattedAddress': ['Doctor Urquiola', 'Madrid Madrid']},
  'categories': [],
  'referralId': 'v-1621368106',
  'hasPerk': False},
 {'id': '4e490b5b14959d51c183e517',
  'name': 'Restaurante Jaime II',
  'location': {'address': 'Calle del Espinar, 30',
   'lat': 40.3849016001016,
   'lng': -3.744146241681306,
   'labeledLatLngs': [{'label': 'display',
     'lat': 40.3849016001016,
     'lng': -3.744146241681306}],
   'distance': 1052,
   'postalCode': '28025',
   'cc': 'ES',
   'city': 'Madrid',
   'state': 'Madrid',
   'country': 'España',
   'formattedAddress': ['Calle del Espinar, 30', '28025 Madrid Madrid']},
  'categories': [{'id': '4bf58dd8d48988d1c4941735',
    'name': 'Restaurant',
    'pluralName': 'Restaurants',
    'shortName': 'Restaurant',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
     'suffix': '.png'},
    'primary': True}],
  'referralId': 'v-1621368106',
  'hasPerk': False},
 {'id': '5e49c71f6680110007146eb4',
  'name': 'Restaurante Perla del Pacífico',
  'location': {'address': 'Calle del Pinzón 17',
   'lat': 40.3899274,
   'lng': -3.73990314,
   'labeledLatLngs': [{'label': 'display',
     'lat': 40.3899274,
     'lng': -3.73990314}],
   'distance': 985,
   'postalCode': '28025',
   'cc': 'ES',
   'city': 'Madrid',
   'state': 'Madrid',
   'country': 'España',
   'formattedAddress': ['Calle del Pinzón 17', '28025 Madrid Madrid']},
  'categories': [{'id': '4bf58dd8d48988d1c4941735',
    'name': 'Restaurant',
    'pluralName': 'Restaurants',
    'shortName': 'Restaurant',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
     'suffix': '.png'},
    'primary': True}],
  'venuePage': {'id': '580323050'},
  'referralId': 'v-1621368106',
  'hasPerk': False},
 {'id': '4fcb58d5e4b0ac24479ca207',
  'name': 'Restaurante Jardin',
  'location': {'address': 'Nuestra Señora De Fatima',
   'lat': 40.379104,
   'lng': -3.742136,
   'labeledLatLngs': [{'label': 'display',
     'lat': 40.379104,
     'lng': -3.742136}],
   'distance': 1000,
   'cc': 'ES',
   'country': 'España',
   'formattedAddress': ['Nuestra Señora De Fatima']},
  'categories': [{'id': '4bf58dd8d48988d1c4941735',
    'name': 'Restaurant',
    'pluralName': 'Restaurants',
    'shortName': 'Restaurant',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
     'suffix': '.png'},
    'primary': True}],
  'referralId': 'v-1621368106',
  'hasPerk': False},
 {'id': '602eb744c6369e1d5a8c4398',
  'name': 'Restaurante El Arrecife',
  'location': {'address': '60 Calle de Alejandro Sánchez',
   'lat': 40.389922,
   'lng': -3.72153,
   'labeledLatLngs': [{'label': 'display', 'lat': 40.389922, 'lng': -3.72153}],
   'distance': 1129,
   'postalCode': '28019',
   'cc': 'ES',
   'city': 'Madrid',
   'state': 'Madrid',
   'country': 'España',
   'formattedAddress': ['60 Calle de Alejandro Sánchez',
    '28019 Madrid Madrid']},
  'categories': [{'id': '5f2c32587ff30c0d7ac09638',
    'name': 'Honduran Restaurant',
    'pluralName': 'Honduran Restaurants',
    'shortName': 'Honduran',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
     'suffix': '.png'},
    'primary': True}],
  'referralId': 'v-1621368106',
  'hasPerk': False},
 {'id': '50cdc66be4b01c69ed274bb0',
  'name': 'Restaurante chino Hong Don',
  'location': {'lat': 40.386932373046875,
   'lng': -3.719184160232544,
   'labeledLatLngs': [{'label': 'display',
     'lat': 40.386932373046875,
     'lng': -3.719184160232544}],
   'distance': 1140,
   'cc': 'ES',
   'city': 'Madrid',
   'state': 'Madrid',
   'country': 'España',
   'formattedAddress': ['Madrid Madrid']},
  'categories': [{'id': '4bf58dd8d48988d145941735',
    'name': 'Chinese Restaurant',
    'pluralName': 'Chinese Restaurants',
    'shortName': 'Chinese',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/asian_',
     'suffix': '.png'},
    'primary': True}],
  'referralId': 'v-1621368106',
  'hasPerk': False},
 {'id': '4c0eab9e336220a1c996cc77',
  'name': 'Restaurante Edén',
  'location': {'address': 'calle alba de tormes',
   'crossStreet': 'calle nuestra señora de la antigua',
   'lat': 40.377178,
   'lng': -3.742824,
   'labeledLatLngs': [{'label': 'display',
     'lat': 40.377178,
     'lng': -3.742824}],
   'distance': 1167,
   'postalCode': '28025',
   'cc': 'ES',
   'city': 'Madrid',
   'state': 'Madrid',
   'country': 'España',
   'formattedAddress': ['calle alba de tormes (calle nuestra señora de la antigua)',
    '28025 Madrid Madrid']},
  'categories': [{'id': '4bf58dd8d48988d145941735',
    'name': 'Chinese Restaurant',
    'pluralName': 'Chinese Restaurants',
    'shortName': 'Chinese',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/asian_',
     'suffix': '.png'},
    'primary': True}],
  'referralId': 'v-1621368106',
  'hasPerk': False},
 {'id': '5e4a077b781d480008b3e9f3',
  'name': 'Restaurante Ecuatoriano Los Mesegares',
  'location': {'address': 'Calle Juan Alonso 6',
   'lat': 40.38677784,
   'lng': -3.74567748,
   'labeledLatLngs': [{'label': 'display',
     'lat': 40.38677784,
     'lng': -3.74567748}],
   'distance': 1225,
   'postalCode': '28047',
   'cc': 'ES',
   'city': 'Madrid',
   'state': 'Madrid',
   'country': 'España',
   'formattedAddress': ['Calle Juan Alonso 6', '28047 Madrid Madrid']},
  'categories': [{'id': '4bf58dd8d48988d1c4941735',
    'name': 'Restaurant',
    'pluralName': 'Restaurants',
    'shortName': 'Restaurant',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
     'suffix': '.png'},
    'primary': True}],
  'referralId': 'v-1621368106',
  'hasPerk': False},
 {'id': '50b129aee4b00b39bd7db75a',
  'name': 'Restaurante Chop Suey',
  'location': {'address': 'Nª Sª de la Luz, 118',
   'lat': 40.386378402202425,
   'lng': -3.7508440017700195,
   'labeledLatLngs': [{'label': 'display',
     'lat': 40.386378402202425,
     'lng': -3.7508440017700195}],
   'distance': 1639,
   'postalCode': '28047',
   'cc': 'ES',
   'city': 'Madrid',
   'state': 'Madrid',
   'country': 'España',
   'formattedAddress': ['Nª Sª de la Luz, 118', '28047 Madrid Madrid']},
  'categories': [{'id': '4bf58dd8d48988d152941735',
    'name': 'Arepa Restaurant',
    'pluralName': 'Arepa Restaurants',
    'shortName': 'Arepas',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/arepas_',
     'suffix': '.png'},
    'primary': True}],
  'referralId': 'v-1621368106',
  'hasPerk': False},
 {'id': '4bbaea2fcf2fc9b6750aa202',
  'name': 'Restaurante Bhairava',
  'location': {'lat': 40.373248,
   'lng': -3.74708,
   'labeledLatLngs': [{'label': 'display', 'lat': 40.373248, 'lng': -3.74708}],
   'distance': 1724,
   'cc': 'ES',
   'city': 'Madrid',
   'state': 'Madrid',
   'country': 'España',
   'formattedAddress': ['Madrid Madrid']},
  'categories': [{'id': '4bf58dd8d48988d150941735',
    'name': 'Spanish Restaurant',
    'pluralName': 'Spanish Restaurants',
    'shortName': 'Spanish',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/spanish_',
     'suffix': '.png'},
    'primary': True}],
  'referralId': 'v-1621368106',
  'hasPerk': False},