In [19]:
import pandas as pd
from selenium import webdriver
from dotenv import load_dotenv
from googlemaps import convert
import googlemaps
import os
import requests
import json
from coordenadas import pasando_a_string
from coordenadas import get_coordenadas
from coordenadas import rellenando_datasetfsq
import foursquare
from config import dic_categorias
from pymongo import MongoClient

In [16]:
load_dotenv()

True

In [20]:
tokg = os.getenv("tokg")
tokf3 = os.getenv ("tokf3")
client2= MongoClient ("localhost:27017")

In [21]:
client = foursquare.Foursquare( access_token= tokf3 )
gmaps = googlemaps.Client(key= tokg )
db = client2.get_database("ciudades")

## Lista inicial

Después de intentar con las ciudades españolas, me paso a las internacionales, que tienen datos en foursquare

driver = webdriver.Chrome()
driver.implicitly_wait(3)

In [7]:
url="https://es.wikipedia.org/wiki/Anexo:Ciudades_por_PIB"
driver.get(url)

In [8]:
tablaciudades= driver.find_element_by_xpath ("/html/body/div[3]/div[3]/div[5]/div[1]/table/tbody")

In [9]:
listacitis=[]
for dato in tablaciudades.find_elements_by_tag_name("tr"):
    fila=[d for d in dato.find_elements_by_tag_name ("td")]
    if len (fila)>1 :
        dia= {
            "id": fila[0].text,
            "ciudad": fila[1].text,
            "pais": fila[2].text,
            "PIB": fila [3].text,
            "PIBpc": fila [4].text,
            "Continente": fila [5].text
             }
        listacitis.append (dia)

In [10]:
ciudades = pd.DataFrame(listacitis)

In [11]:
ciudades.drop (["PIB", "PIBpc"],axis=1, inplace=True)

In [12]:
ciudadesini = pd.DataFrame(listacitis[:30])

In [13]:
ciudadesini.drop (["PIB", "PIBpc"],axis=1, inplace=True)

In [14]:
ciudades.to_csv ("../Data/ciudades.csv")

In [15]:
ciudadesini.to_csv ("../Data/ciudadesini.csv")

## Agregando coordenadas

Las incluyo en varios formatos, porque luego según la api te las pide de una forma u otra.

ciudadesini = pd.read_csv ("../Data/ciudadesini.csv")

In [16]:
ciudadesini.head(1)

  id ciudad    pais Continente
0  1  Tokio   Japón       Asia

In [17]:
get_coordenadas (ciudadesini, "ciudad", "pais")

,id,ciudad,pais,Continente,Lon,Lat,coords,coords2
0,1,Tokio,Japón,Asia,139.650311,35.676192,"{'lat': 35.6761919, 'lng': 139.6503106}","(35.6761919, 139.6503106)"
1,2,Nueva York,Estados Unidos,América,-74.005973,40.712775,"{'lat': 40.7127753, 'lng': -74.0059728}","(40.7127753, -74.0059728)"
2,3,Los Ángeles,Estados Unidos,América,-118.243685,34.052234,"{'lat': 34.0522342, 'lng': -118.2436849}","(34.0522342, -118.2436849)"
3,4,París,Francia,Europa,2.352222,48.856614,"{'lat': 48.856614, 'lng': 2.3522219}","(48.856614, 2.3522219)"
4,5,Seúl,Corea del Sur,Asia,126.977969,37.566535,"{'lat': 37.566535, 'lng': 126.9779692}","(37.566535, 126.9779692)"
5,6,Londres,Reino Unido,Europa,-0.127758,51.507351,"{'lat': 51.5073509, 'lng': -0.1277583}","(51.5073509, -0.1277583)"
6,7,Osaka,Japón,Asia,135.502253,34.693725,"{'lat': 34.6937249, 'lng': 135.5022535}","(34.6937249, 135.5022535)"
7,8,Shanghái,China,Asia,121.473701,31.230416,"{'lat': 31.230416, 'lng': 121.473701}","(31.230416, 121.473701)"
8,9,Chicago,Estados Unidos,América,-87.629798,41.878114,"{'lat': 41.8781136, 'lng': -87.6297982}","(41.8781136, -87.6297982)"
9,10,Moscú,Rusia,Europa,37.617300,55.755826,"{'lat': 55.755826, 'lng': 37.6172999}","(55.755826, 37.6172999)"
10,11,Pekín,China,Asia,116.407396,39.904200,"{'lat': 39.90419989999999, 'lng': 116.4073963}","(39.90419989999999, 116.4073963)"
11,12,Colonia,Alemania,Europa,6.960279,50.937531,"{'lat': 50.937531, 'lng': 6.9602786}","(50.937531, 6.9602786)"
12,13,Houston,Estados Unidos,América,-95.369803,29.760427,"{'lat': 29.7604267, 'lng': -95.3698028}","(29.7604267, -95.3698028)"
13,14,Washington D. C.,Estados Unidos,América,-77.036871,38.907192,"{'lat': 38.9071923, 'lng': -77.0368707}","(38.9071923, -77.0368707)"
14,15,Ciudad de México,México,América,-99.133208,19.432608,"{'lat': 19.4326077, 'lng': -99.133208}","(19.4326077, -99.133208)"
15,16,São Paulo,Brasil,América,-46.633309,-23.550520,"{'lat': -23.5505199, 'lng': -46.63330939999999}","(-23.5505199, -46.63330939999999)"
16,17,Hong Kong,Hong Kong,Asia,114.169361,22.319304,"{'lat': 22.3193039, 'lng': 114.1693611}","(22.3193039, 114.1693611)"
17,18,Dallas,Estados Unidos,América,-96.796988,32.776664,"{'lat': 32.7766642, 'lng': -96.79698789999999}","(32.7766642, -96.79698789999999)"
18,19,Cantón,China,Asia,113.264385,23.129110,"{'lat': 23.12911, 'lng': 113.264385}","(23.12911, 113.264385)"
19,20,Tianjin,China,Asia,117.361648,39.343357,"{'lat': 39.3433574, 'lng': 117.3616476}","(39.3433574, 117.3616476)"
20,21,Singapur,Singapur,Asia,103.819836,1.352083,"{'lat': 1.352083, 'lng': 103.819836}","(1.352083, 103.819836)"
21,22,Nagoya,Japón,Asia,136.906557,35.181451,"{'lat': 35.18145060000001, 'lng': 136.9065571}","(35.18145060000001, 136.9065571)"
22,23,Shenzhen,China,Asia,114.057865,22.543096,"{'lat': 22.543096, 'lng': 114.057865}","(22.543096, 114.057865)"
23,24,Boston,Estados Unidos,América,-71.058880,42.360082,"{'lat': 42.3600825, 'lng': -71.0588801}","(42.3600825, -71.0588801)"
24,25,Estambul,Turquía,Europa,28.978359,41.008238,"{'lat': 41.0082376, 'lng': 28.9783589}","(41.0082376, 28.9783589)"
25,26,Filadelfia,Estados Unidos,América,-75.165222,39.952584,"{'lat': 39.9525839, 'lng': -75.1652215}","(39.9525839, -75.1652215)"
26,27,Suzhou,China,Asia,120.585289,31.298974,"{'lat': 31.298974, 'lng': 120.585289}","(31.298974, 120.585289)"
27,28,San Francisco,Estados Unidos,América,-122.419415,37.774929,"{'lat': 37.7749295, 'lng': -122.4194155}","(37.7749295, -122.4194155)"
28,29,Taipéi,Taiwán,Asia,121.565418,25.032969,"{'lat': 25.0329694, 'lng': 121.5654177}","(25.0329694, 121.5654177)"
29,30,Yakarta,Indonesia,Asia,106.845599,-6.208763,"{'lat': -6.2087634, 'lng': 106.845599}","(-6.2087634, 106.845599)"

In [18]:
ciudadesini.coords2 = ciudadesini.coords2.apply (pasando_a_string)

In [19]:
ciudadesini.to_csv ("../Data/ciudadesini.csv")

## Y a cargar datos

In [6]:
ciudadesini = pd.read_csv ("../Data/ciudadesini.csv")

In [9]:
# reducido= ciudadesini[:10]

In [10]:
# reducido

,Unnamed: 0,id,ciudad,pais,Continente,Lon,Lat,coords,coords2,nrestaurantes,...,nparques,lparques,nhospitales,lhospitales,ncines,lcines,nteatros,lteatros,nmuseos,lmuseos
0,0,1,Tokio,Japón,Asia,139.650311,35.676192,"{'lat': 35.6761919, 'lng': 139.6503106}","35.6761919, 139.6503",0,...,0,{},0,{},0,{},0,{},0,{}
1,1,2,Nueva York,Estados Unidos,América,-74.005973,40.712775,"{'lat': 40.7127753, 'lng': -74.0059728}","40.7127753, -74.0059",0,...,0,{},0,{},0,{},0,{},0,{}
2,2,3,Los Ángeles,Estados Unidos,América,-118.243685,34.052234,"{'lat': 34.0522342, 'lng': -118.2436849}","34.0522342, -118.243",0,...,0,{},0,{},0,{},0,{},0,{}
3,3,4,París,Francia,Europa,2.352222,48.856614,"{'lat': 48.856614, 'lng': 2.3522219}","48.856614, 2.3522219",0,...,0,{},0,{},0,{},0,{},0,{}
4,4,5,Seúl,Corea del Sur,Asia,126.977969,37.566535,"{'lat': 37.566535, 'lng': 126.9779692}","37.566535, 126.97796",0,...,0,{},0,{},0,{},0,{},0,{}
5,5,6,Londres,Reino Unido,Europa,-0.127758,51.507351,"{'lat': 51.5073509, 'lng': -0.1277583}","51.5073509, -0.12775",0,...,0,{},0,{},0,{},0,{},0,{}
6,6,7,Osaka,Japón,Asia,135.502253,34.693725,"{'lat': 34.6937249, 'lng': 135.5022535}","34.6937249, 135.5022",0,...,0,{},0,{},0,{},0,{},0,{}
7,7,8,Shanghái,China,Asia,121.473701,31.230416,"{'lat': 31.230416, 'lng': 121.473701}","31.230416, 121.47370",0,...,0,{},0,{},0,{},0,{},0,{}
8,8,9,Chicago,Estados Unidos,América,-87.629798,41.878114,"{'lat': 41.8781136, 'lng': -87.6297982}","41.8781136, -87.6297",0,...,0,{},0,{},0,{},0,{},0,{}
9,9,10,Moscú,Rusia,Europa,37.617300,55.755826,"{'lat': 55.755826, 'lng': 37.6172999}","55.755826, 37.617299",0,...,0,{},0,{},0,{},0,{},0,{}

In [8]:
for nombre, codigo in dic_categorias.items():
    rellenando_datasetfsq (ciudadesini, "coords2", codigo , 1000, "n" + nombre, "l"+nombre)

RateLimitExceeded: Quota exceeded

Me dá como resultados todo ceros, las búsqeudas hay que hacerlas con texto, y el código de categoria usarlo solo para cosas muy concretas.  ( esto lo he cambiado 2 veces, primero tenia texto, pero no me cogia muchos resultados para las ciudades chinas y japonesas, por eso probé con el código y me quedé sin peticiones)

## trabajando con base de datos con ceros:

In [26]:
ciudadesini.drop (["Unnamed: 0", "id"], axis=1, inplace=True)

In [37]:
ciudadesini["ciudad"].replace({"Washington D.C": "Wahington D.C."})
#me daba error por el ".", y la lié

In [42]:
ciudadesini

,ciudad,pais,Continente,Lon,Lat,coords,coords2,nrestaurantes,lrestaurantes,nplayas,...,nparques,lparques,nhospitales,lhospitales,ncines,lcines,nteatros,lteatros,nmuseos,lmuseos
0,Washington D. C.,Japón,Asia,139.650311,35.676192,"{'lat': 35.6761919, 'lng': 139.6503106}","35.6761919, 139.6503",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
1,Washington D. C.,Estados Unidos,América,-74.005973,40.712775,"{'lat': 40.7127753, 'lng': -74.0059728}","40.7127753, -74.0059",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
2,Washington D. C.,Estados Unidos,América,-118.243685,34.052234,"{'lat': 34.0522342, 'lng': -118.2436849}","34.0522342, -118.243",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
3,Washington D. C.,Francia,Europa,2.352222,48.856614,"{'lat': 48.856614, 'lng': 2.3522219}","48.856614, 2.3522219",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
4,Washington D. C.,Corea del Sur,Asia,126.977969,37.566535,"{'lat': 37.566535, 'lng': 126.9779692}","37.566535, 126.97796",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
5,Washington D. C.,Reino Unido,Europa,-0.127758,51.507351,"{'lat': 51.5073509, 'lng': -0.1277583}","51.5073509, -0.12775",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
6,Washington D. C.,Japón,Asia,135.502253,34.693725,"{'lat': 34.6937249, 'lng': 135.5022535}","34.6937249, 135.5022",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
7,Washington D. C.,China,Asia,121.473701,31.230416,"{'lat': 31.230416, 'lng': 121.473701}","31.230416, 121.47370",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
8,Washington D. C.,Estados Unidos,América,-87.629798,41.878114,"{'lat': 41.8781136, 'lng': -87.6297982}","41.8781136, -87.6297",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
9,Washington D. C.,Rusia,Europa,37.617300,55.755826,"{'lat': 55.755826, 'lng': 37.6172999}","55.755826, 37.617299",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
10,Washington D. C.,China,Asia,116.407396,39.904200,"{'lat': 39.90419989999999, 'lng': 116.4073963}","39.90419989999999, 1",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
11,Washington D. C.,Alemania,Europa,6.960279,50.937531,"{'lat': 50.937531, 'lng': 6.9602786}","50.937531, 6.9602786",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
12,Washington D. C.,Estados Unidos,América,-95.369803,29.760427,"{'lat': 29.7604267, 'lng': -95.3698028}","29.7604267, -95.3698",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
13,Washington D. C.,Estados Unidos,América,-77.036871,38.907192,"{'lat': 38.9071923, 'lng': -77.0368707}","38.9071923, -77.0368",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
14,Washington D. C.,México,América,-99.133208,19.432608,"{'lat': 19.4326077, 'lng': -99.133208}","19.4326077, -99.1332",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
15,Washington D. C.,Brasil,América,-46.633309,-23.550520,"{'lat': -23.5505199, 'lng': -46.63330939999999}","-23.5505199, -46.633",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
16,Washington D. C.,Hong Kong,Asia,114.169361,22.319304,"{'lat': 22.3193039, 'lng': 114.1693611}","22.3193039, 114.1693",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
17,Washington D. C.,Estados Unidos,América,-96.796988,32.776664,"{'lat': 32.7766642, 'lng': -96.79698789999999}","32.7766642, -96.7969",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
18,Washington D. C.,China,Asia,113.264385,23.129110,"{'lat': 23.12911, 'lng': 113.264385}","23.12911, 113.264385",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
19,Washington D. C.,China,Asia,117.361648,39.343357,"{'lat': 39.3433574, 'lng': 117.3616476}","39.3433574, 117.3616",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
20,Washington D. C.,Singapur,Asia,103.819836,1.352083,"{'lat': 1.352083, 'lng': 103.819836}","1.352083, 103.819836",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
21,Washington D. C.,Japón,Asia,136.906557,35.181451,"{'lat': 35.18145060000001, 'lng': 136.9065571}","35.18145060000001, 1",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
22,Washington D. C.,China,Asia,114.057865,22.543096,"{'lat': 22.543096, 'lng': 114.057865}","22.543096, 114.05786",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
23,Washington D. C.,Estados Unidos,América,-71.058880,42.360083,"{'lat': 42.3600825, 'lng': -71.0588801}","42.3600825, -71.0588",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
24,Washington D. C.,Turquía,Europa,28.978359,41.008238,"{'lat': 41.0082376, 'lng': 28.9783589}","41.0082376, 28.97835",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
25,Washington D. C.,Estados Unidos,América,-75.165222,39.952584,"{'lat': 39.9525839, 'lng': -75.1652215}","39.9525839, -75.1652",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
26,Washington D. C.,China,Asia,120.585289,31.298974,"{'lat': 31.298974, 'lng': 120.585289}","31.298974, 120.58528",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
27,Washington D. C.,Estados Unidos,América,-122.419415,37.774929,"{'lat': 37.7749295, 'lng': -122.4194155}","37.7749295, -122.419",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
28,Washington D. C.,Taiwán,Asia,121.565418,25.032969,"{'lat': 25.0329694, 'lng': 121.5654177}","25.0329694, 121.5654",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
29,Washington D. C.,Indonesia,Asia,106.845599,-6.208763,"{'lat': -6.2087634, 'lng': 106.845599}","-6.2087634, 106.8455",0,{},0,...,0,{},0,{},0,{},0,{},0,{}

In [39]:
ciudades= pd.read_csv ("../Data/ciudades.csv")

In [43]:
nombreciudades=ciudades.ciudad[:30]

In [48]:
nombreciudades[13] = "Washington D. C"

In [49]:
ciudadesini["ciudad"]= nombreciudades

In [50]:
ciudadesini

,ciudad,pais,Continente,Lon,Lat,coords,coords2,nrestaurantes,lrestaurantes,nplayas,...,nparques,lparques,nhospitales,lhospitales,ncines,lcines,nteatros,lteatros,nmuseos,lmuseos
0,Tokio,Japón,Asia,139.650311,35.676192,"{'lat': 35.6761919, 'lng': 139.6503106}","35.6761919, 139.6503",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
1,Nueva York,Estados Unidos,América,-74.005973,40.712775,"{'lat': 40.7127753, 'lng': -74.0059728}","40.7127753, -74.0059",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
2,Los Ángeles,Estados Unidos,América,-118.243685,34.052234,"{'lat': 34.0522342, 'lng': -118.2436849}","34.0522342, -118.243",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
3,París,Francia,Europa,2.352222,48.856614,"{'lat': 48.856614, 'lng': 2.3522219}","48.856614, 2.3522219",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
4,Seúl,Corea del Sur,Asia,126.977969,37.566535,"{'lat': 37.566535, 'lng': 126.9779692}","37.566535, 126.97796",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
5,Londres,Reino Unido,Europa,-0.127758,51.507351,"{'lat': 51.5073509, 'lng': -0.1277583}","51.5073509, -0.12775",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
6,Osaka,Japón,Asia,135.502253,34.693725,"{'lat': 34.6937249, 'lng': 135.5022535}","34.6937249, 135.5022",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
7,Shanghái,China,Asia,121.473701,31.230416,"{'lat': 31.230416, 'lng': 121.473701}","31.230416, 121.47370",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
8,Chicago,Estados Unidos,América,-87.629798,41.878114,"{'lat': 41.8781136, 'lng': -87.6297982}","41.8781136, -87.6297",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
9,Moscú,Rusia,Europa,37.617300,55.755826,"{'lat': 55.755826, 'lng': 37.6172999}","55.755826, 37.617299",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
10,Pekín,China,Asia,116.407396,39.904200,"{'lat': 39.90419989999999, 'lng': 116.4073963}","39.90419989999999, 1",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
11,Colonia,Alemania,Europa,6.960279,50.937531,"{'lat': 50.937531, 'lng': 6.9602786}","50.937531, 6.9602786",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
12,Houston,Estados Unidos,América,-95.369803,29.760427,"{'lat': 29.7604267, 'lng': -95.3698028}","29.7604267, -95.3698",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
13,Washington D. C,Estados Unidos,América,-77.036871,38.907192,"{'lat': 38.9071923, 'lng': -77.0368707}","38.9071923, -77.0368",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
14,Ciudad de México,México,América,-99.133208,19.432608,"{'lat': 19.4326077, 'lng': -99.133208}","19.4326077, -99.1332",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
15,São Paulo,Brasil,América,-46.633309,-23.550520,"{'lat': -23.5505199, 'lng': -46.63330939999999}","-23.5505199, -46.633",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
16,Hong Kong,Hong Kong,Asia,114.169361,22.319304,"{'lat': 22.3193039, 'lng': 114.1693611}","22.3193039, 114.1693",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
17,Dallas,Estados Unidos,América,-96.796988,32.776664,"{'lat': 32.7766642, 'lng': -96.79698789999999}","32.7766642, -96.7969",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
18,Cantón,China,Asia,113.264385,23.129110,"{'lat': 23.12911, 'lng': 113.264385}","23.12911, 113.264385",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
19,Tianjin,China,Asia,117.361648,39.343357,"{'lat': 39.3433574, 'lng': 117.3616476}","39.3433574, 117.3616",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
20,Singapur,Singapur,Asia,103.819836,1.352083,"{'lat': 1.352083, 'lng': 103.819836}","1.352083, 103.819836",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
21,Nagoya,Japón,Asia,136.906557,35.181451,"{'lat': 35.18145060000001, 'lng': 136.9065571}","35.18145060000001, 1",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
22,Shenzhen,China,Asia,114.057865,22.543096,"{'lat': 22.543096, 'lng': 114.057865}","22.543096, 114.05786",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
23,Boston,Estados Unidos,América,-71.058880,42.360083,"{'lat': 42.3600825, 'lng': -71.0588801}","42.3600825, -71.0588",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
24,Estambul,Turquía,Europa,28.978359,41.008238,"{'lat': 41.0082376, 'lng': 28.9783589}","41.0082376, 28.97835",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
25,Filadelfia,Estados Unidos,América,-75.165222,39.952584,"{'lat': 39.9525839, 'lng': -75.1652215}","39.9525839, -75.1652",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
26,Suzhou,China,Asia,120.585289,31.298974,"{'lat': 31.298974, 'lng': 120.585289}","31.298974, 120.58528",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
27,San Francisco,Estados Unidos,América,-122.419415,37.774929,"{'lat': 37.7749295, 'lng': -122.4194155}","37.7749295, -122.419",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
28,Taipéi,Taiwán,Asia,121.565418,25.032969,"{'lat': 25.0329694, 'lng': 121.5654177}","25.0329694, 121.5654",0,{},0,...,0,{},0,{},0,{},0,{},0,{}
29,Yakarta,Indonesia,Asia,106.845599,-6.208763,"{'lat': -6.2087634, 'lng': 106.845599}","-6.2087634, 106.8455",0,{},0,...,0,{},0,{},0,{},0,{},0,{}

In [52]:
for i in ciudadesini.ciudad: #funcion
    db.create_collection(i)

In [55]:
ciudadesini.head(1)

,ciudad,pais,Continente,Lon,Lat,coords,coords2,nrestaurantes,lrestaurantes,nplayas,...,nparques,lparques,nhospitales,lhospitales,ncines,lcines,nteatros,lteatros,nmuseos,lmuseos
0,Tokio,Japón,Asia,139.650311,35.676192,"{'lat': 35.6761919, 'lng': 139.6503106}","35.6761919, 139.6503",0,{},0,...,0,{},0,{},0,{},0,{},0,{}

In [130]:
lista=[] # aquí intento crear una lista de diccionarios para luego meter en la base de datos
for i in ciudadesini:
    for n in range (0, len (ciudadesini[i])):
        ciudad={
              i: ciudadesini[i][n]
                }
    lista.append (ciudad)

In [131]:
lista #pero solo me sale yakarta, ultima fila, he probado varias cosas pero no me salia, asi que intento con json

[{'ciudad': 'Yakarta'},
 {'pais': ' Indonesia'},
 {'Continente': 'Asia'},
 {'Lon': 106.84559899999999},
 {'Lat': -6.2087634000000005},
 {'coords': "{'lat': -6.2087634, 'lng': 106.845599}"},
 {'coords2': '-6.2087634, 106.8455'},
 {'nrestaurantes': 0},
 {'lrestaurantes': {}},
 {'nplayas': 0},
 {'lplayas': {}},
 {'nocio_nocturno': 0},
 {'locio_nocturno': {}},
 {'nhoteles': 0},
 {'lhoteles': {}},
 {'nocio_deporte': 0},
 {'locio_deporte': {}},
 {'naire_libre': 0},
 {'laire_libre': {}},
 {'ncolegios': 0},
 {'lcolegios': {}},
 {'nguarderias': 0},
 {'lguarderias': {}},
 {'nuniversidades': 0},
 {'luniversidades': {}},
 {'naeropuertos': 0},
 {'laeropuertos': {}},
 {'nestaciones de tren': 0},
 {'lestaciones de tren': {}},
 {'nparques': 0},
 {'lparques': {}},
 {'nhospitales': 0},
 {'lhospitales': {}},
 {'ncines': 0},
 {'lcines': {}},
 {'nteatros': 0},
 {'lteatros': {}},
 {'nmuseos': 0},
 {'lmuseos': {}}]

In [125]:
jason=ciudadesini.to_json ()

In [ ]:
ciudadesini.to_json ("../Data/ci.json") # si cargo esto en la base de datos me crea una colección con:
ciudad: lista
loqsea:lista

In [126]:
jason

<bound method NDFrame.to_json of               ciudad             pais Continente         Lon        Lat  \
0              Tokio            Japón       Asia  139.650311  35.676192
1         Nueva York   Estados Unidos    América  -74.005973  40.712775
2        Los Ángeles   Estados Unidos    América -118.243685  34.052234
3              París          Francia     Europa    2.352222  48.856614
4               Seúl    Corea del Sur       Asia  126.977969  37.566535
5            Londres      Reino Unido     Europa   -0.127758  51.507351
6              Osaka            Japón       Asia  135.502253  34.693725
7           Shanghái            China       Asia  121.473701  31.230416
8            Chicago   Estados Unidos    América  -87.629798  41.878114
9              Moscú            Rusia     Europa   37.617300  55.755826
10             Pekín            China       Asia  116.407396  39.904200
11           Colonia         Alemania     Europa    6.960279  50.937531
12           Houston   Estados Unidos    América  -95.369803  29.760427
13   Washington D. C   Estados Unidos    América  -77.036871  38.907192
14  Ciudad de México           México    América  -99.133208  19.432608
15         São Paulo           Brasil    América  -46.633309 -23.550520
16         Hong Kong        Hong Kong       Asia  114.169361  22.319304
17            Dallas   Estados Unidos    América  -96.796988  32.776664
18            Cantón            China       Asia  113.264385  23.129110
19           Tianjin            China       Asia  117.361648  39.343357
20          Singapur         Singapur       Asia  103.819836   1.352083
21            Nagoya            Japón       Asia  136.906557  35.181451
22          Shenzhen            China       Asia  114.057865  22.543096
23            Boston   Estados Unidos    América  -71.058880  42.360083
24          Estambul          Turquía     Europa   28.978359  41.008238
25        Filadelfia   Estados Unidos    América  -75.165222  39.952584
26            Suzhou            China       Asia  120.585289  31.298974
27     San Francisco   Estados Unidos    América -122.419415  37.774929
28            Taipéi           Taiwán       Asia  121.565418  25.032969
29           Yakarta        Indonesia       Asia  106.845599  -6.208763

                                             coords               coords2  \
0           {'lat': 35.6761919, 'lng': 139.6503106}  35.6761919, 139.6503
1           {'lat': 40.7127753, 'lng': -74.0059728}  40.7127753, -74.0059
2          {'lat': 34.0522342, 'lng': -118.2436849}  34.0522342, -118.243
3              {'lat': 48.856614, 'lng': 2.3522219}  48.856614, 2.3522219
4            {'lat': 37.566535, 'lng': 126.9779692}  37.566535, 126.97796
5            {'lat': 51.5073509, 'lng': -0.1277583}  51.5073509, -0.12775
6           {'lat': 34.6937249, 'lng': 135.5022535}  34.6937249, 135.5022
7             {'lat': 31.230416, 'lng': 121.473701}  31.230416, 121.47370
8           {'lat': 41.8781136, 'lng': -87.6297982}  41.8781136, -87.6297
9             {'lat': 55.755826, 'lng': 37.6172999}  55.755826, 37.617299
10   {'lat': 39.90419989999999, 'lng': 116.4073963}  39.90419989999999, 1
11             {'lat': 50.937531, 'lng': 6.9602786}  50.937531, 6.9602786
12          {'lat': 29.7604267, 'lng': -95.3698028}  29.7604267, -95.3698
13          {'lat': 38.9071923, 'lng': -77.0368707}  38.9071923, -77.0368
14           {'lat': 19.4326077, 'lng': -99.133208}  19.4326077, -99.1332
15  {'lat': -23.5505199, 'lng': -46.63330939999999}  -23.5505199, -46.633
16          {'lat': 22.3193039, 'lng': 114.1693611}  22.3193039, 114.1693
17   {'lat': 32.7766642, 'lng': -96.79698789999999}  32.7766642, -96.7969
18             {'lat': 23.12911, 'lng': 113.264385}  23.12911, 113.264385
19          {'lat': 39.3433574, 'lng': 117.3616476}  39.3433574, 117.3616
20             {'lat': 1.352083, 'lng': 103.819836}  1.352083, 103.819836
21   {'lat': 35.18145060000001, 'lng': 136.9065571}  35.18145060000001, 1
22            {'lat': 22.543096, 'lng': 114.057865}  22.543096, 114.05786
23          {'lat': 42.3600825, 'lng': -71.0588801}  42.3600825, -71.0588
24           {'lat': 41.0082376, 'lng': 28.9783589}  41.0082376, 28.97835
25          {'lat': 39.9525839, 'lng': -75.1652215}  39.9525839, -75.1652
26            {'lat': 31.298974, 'lng': 120.585289}  31.298974, 120.58528
27         {'lat': 37.7749295, 'lng': -122.4194155}  37.7749295, -122.419
28          {'lat': 25.0329694, 'lng': 121.5654177}  25.0329694, 121.5654
29           {'lat': -6.2087634, 'lng': 106.845599}  -6.2087634, 106.8455

    nrestaurantes lrestaurantes  nplayas  ... nparques  lparques nhospitales  \
0               0            {}        0  ...        0        {}           0
1               0            {}        0  ...        0        {}           0
2               0            {}        0  ...        0        {}           0
3               0            {}        0  ...        0        {}           0
4               0            {}        0  ...        0        {}           0
5               0            {}        0  ...        0        {}           0
6               0            {}        0  ...        0        {}           0
7               0            {}        0  ...        0        {}           0
8               0            {}        0  ...        0        {}           0
9               0            {}        0  ...        0        {}           0
10              0            {}        0  ...        0        {}           0
11              0            {}        0  ...        0        {}           0
12              0            {}        0  ...        0        {}           0
13              0            {}        0  ...        0        {}           0
14              0            {}        0  ...        0        {}           0
15              0            {}        0  ...        0        {}           0
16              0            {}        0  ...        0        {}           0
17              0            {}        0  ...        0        {}           0
18              0            {}        0  ...        0        {}           0
19              0            {}        0  ...        0        {}           0
20              0            {}        0  ...        0        {}           0
21              0            {}        0  ...        0        {}           0
22              0            {}        0  ...        0        {}           0
23              0            {}        0  ...        0        {}           0
24              0            {}        0  ...        0        {}           0
25              0            {}        0  ...        0        {}           0
26              0            {}        0  ...        0        {}           0
27              0            {}        0  ...        0        {}           0
28              0            {}        0  ...        0        {}           0
29              0            {}        0  ...        0        {}           0

    lhospitales ncines  lcines nteatros  lteatros nmuseos  lmuseos
0            {}      0      {}        0        {}       0       {}
1            {}      0      {}        0        {}       0       {}
2            {}      0      {}        0        {}       0       {}
3            {}      0      {}        0        {}       0       {}
4            {}      0      {}        0        {}       0       {}
5            {}      0      {}        0        {}       0       {}
6            {}      0      {}        0        {}       0       {}
7            {}      0      {}        0        {}       0       {}
8            {}      0      {}        0        {}       0       {}
9            {}      0      {}        0        {}       0       {}
10           {}      0      {}        0        {}       0       {}
11           {}      0      {}        0        {}       0       {}
12           {}      0      {}        0        {}       0       {}
13           {}      0      {}        0        {}       0       {}
14           {}      0      {}        0        {}       0       {}
15           {}      0      {}        0        {}       0       {}
16           {}      0      {}        0        {}       0       {}
17           {}      0      {}        0        {}       0       {}
18           {}      0      {}        0        {}       0       {}
19           {}      0      {}        0        {}       0       {}
20           {}      0      {}        0        {}       0       {}
21           {}      0      {}        0        {}       0       {}
22           {}      0      {}        0        {}       0       {}
23           {}      0      {}        0        {}       0       {}
24           {}      0      {}        0        {}       0       {}
25           {}      0      {}        0        {}       0       {}
26           {}      0      {}        0        {}       0       {}
27           {}      0      {}        0        {}       0       {}
28           {}      0      {}        0        {}       0       {}
29           {}      0      {}        0        {}       0       {}

[30 rows x 39 columns]>

In [135]:
jason2=ciudadesini.to_json ("../Data/ci2.json", orient="index") 
# si cargo esto en la base de datos, se crean documentos para cada ciudad. Pero por lo menos los datos salen bien.
# no me da tiempo a probar más

In [143]:
jason2=ciudadesini.to_json (orient="index")

In [157]:
ciudadesini.loc[1]

ciudad                                              Nueva York
pais                                            Estados Unidos
Continente                                             América
Lon                                                    -74.006
Lat                                                    40.7128
coords                 {'lat': 40.7127753, 'lng': -74.0059728}
coords2                                   40.7127753, -74.0059
nrestaurantes                                                0
lrestaurantes                                               {}
nplayas                                                      0
lplayas                                                     {}
nocio_nocturno                                               0
locio_nocturno                                              {}
nhoteles                                                     0
lhoteles                                                    {}
nocio_deporte                                                0
locio_deporte                                               {}
naire_libre                                                  0
laire_libre                                                 {}
ncolegios                                                    0
lcolegios                                                   {}
nguarderias                                                  0
lguarderias                                                 {}
nuniversidades                                               0
luniversidades                                              {}
naeropuertos                                                 0
laeropuertos                                                {}
nestaciones de tren                                          0
lestaciones de tren                                         {}
nparques                                                     0
lparques                                                    {}
nhospitales                                                  0
lhospitales                                                 {}
ncines                                                       0
lcines                                                      {}
nteatros                                                     0
lteatros                                                    {}
nmuseos                                                      0
lmuseos                                                     {}
Name: 1, dtype: object