In [241]:
import pandas as pd
from dotenv import load_dotenv
from googlemaps import convert
import googlemaps
import os
import requests
import json
import foursquare
from config import dic_categorias
from pymongo import MongoClient
import folium
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster
import matplotlib 
from selenium import webdriver

In [2]:
load_dotenv()

True

In [3]:
tokg = os.getenv("tokg")
tokf3 = os.getenv ("tokf3")
client2= MongoClient ("localhost:27017")

In [5]:
client = foursquare.Foursquare( access_token= tokf3 )
gmaps = googlemaps.Client(key= tokg )
db = client2.get_database("ciudades")

In [185]:
dic_categorias= {
#infraestructuras transporte
    "aeropuertos" : ["airport"],
    "estaciones de tren": ["train station", "estacion de tren"],  
    "parques": ["park"],
    "estaciones de metro": ["metro", "subway station"],
    "estaciones de autobús": ["bus"],
    "carril bici": ["bike trail"],
# infraestructuras sanidad
    "hospitales" : ["hospital"],
    "clinicas": ["medical center", "clinic"],
    "farmacias": ["pharmacy", "farmacia"],
    "veterinario": ["veterinarian"],
#restauracion
    "restaurantes": ["restaurant"],
    "ocio_nocturno": ["pub","Cocktail Bar"],
    "hoteles": ["hotel"],
    "cafeterias": ["coffe"],
#ocio y cultura
    "cines": ["cinema", "movie theatre"],
    "teatros": ["theatre", "teatro"],
    "museos": ["museum"],
    "salas_de_conciertos": ["rock club", "concert"],
    "bibliotecas" : ["library", "biblioteca"], 
#ocio y deporte
    "ocio_deporte": ["gym", "Fitness"],
    "piscina": ["pool", "piscina"],
    "canchas": ["cancha", "court"],
    "estadios" : ["stadium", "estadio"],
    
#infraestructuras educacion
    "colegios" : ["primary school", "elemental school"],
    "guarderias" : ["kindergarden", "guarderia"],
    "universidades": ["college", "university"],
    "Institutos" : ["secundary school", "bachiller"],
    "Escuelas" : ["school", "escuela"],
    
#comercio
    "centros_comerciales": ["mall", "shopping center"],
    "Tiendas minoristas" : ["shop", "tienda"]
    
                             }

In [172]:
""""
dic_categorias= {
#infraestructuras transporte
   
    "estaciones de tren": ["train station", "estacion de tren"],  
   
# infraestructuras sanidad
    
    "farmacias": ["pharmacy", "farmacia"],
    
#restauracion
    "restaurantes": ["restaurant"],

#ocio y cultura
    "cines": ["cinema", "movie theatre"],

#ocio y deporte
    "ocio_deporte": ["gym", "Fitness"],

    
#infraestructuras educacion

    "Escuelas" : ["school", "escuela"],
    
#comercio
    
    "Tiendas minoristas" : ["shop", "tienda"]
    
                             }
                             """

In [67]:
coord= "40.3829439,-3.7332451"

In [82]:
request = client.venues.search(params = {'query': ["kindergarden", "guarderia"] , 'll': coord, "radius": 1500, "limit": 50})

In [93]:
keys= list (dic_categorias.keys())

In [115]:
cat1= keys[:6]
cat2= keys[6:10]
cat3= keys[10:14]
cat4= keys [14:19]
cat5= keys [19:23]
cat6= keys [23:28]
cat7= keys[-2:]

In [6]:
def test (nombre):
    lista= db.list_collection_names()
    return nombre in lista

In [280]:
coords2=gmaps.geocode( address= "campos eliseos, paris")

In [292]:
df["codigo postal"][1]

'02002'

In [298]:
len (df)

598

In [299]:
ciudad= "clara campoamor"
pais= "madrid"

In [300]:
df.columns

Index(['codigo postal', 'renta bruta media', 'renta disponible media'], dtype='object')

In [303]:
busqueda= ciudad + ", " + pais #unimos en un string para pasarselo como búsqueda a gplaces
coords=gmaps.geocode( address= busqueda)
nombre = coords[0]["address_components"][5]["short_name"] # nos quedamos con el nombre, que será el de la colección
a=coords[0]["geometry"]["location"]["lat"] 
b=coords[0]["geometry"]["location"]["lng"]
c = str (a) +"," + str(b) # Formato que luego entienda foursquare
for n in range (len (df)):
    if df["codigo postal"][n] == nombre:
        renta_neta= df["renta disponible media"][n]
        renta_bruta= df["renta bruta media"][n]
    else:
        pass
dic= {"nombre": nombre,
                "coordenadas": c,
                 "latitud":a,
                 "longitud":b,
                "renta bruta": renta_bruta,
                 "renta neta": renta_neta}

print (dic)

{'nombre': '28025', 'coordenadas': '40.3829439,-3.7332451', 'latitud': 40.3829439, 'longitud': -3.7332451, 'renta bruta': '24.346', 'renta neta': '20.457'}

In [8]:
def get_coords(nombre, dic):
    collection= nombre 
    db[collection].insert_one (dic)
    coord= dic["coordenadas"]
    return get_data_fields (coord, collection)

In [9]:
def get_data_fields (coord, collection):
    tokf3 = os.getenv ("tokf3")
    client = foursquare.Foursquare( access_token= tokf3 )
    cantidad=[]
    dic_insert={}
    for categoria, codigo in dic_categorias.items():  
        request = client.venues.search(params = {'query': codigo , 'll': coord, "radius": 1500, "limit": 50})
        lista=request["venues"]
        cantidad= len (lista)
        dice1={categoria: {"número":cantidad }}
        dice=[]
        for i in range (0,len (lista)): # para cada venue, sacame:
            nombre = lista[i]["name"]
            latitud= lista[i]["location"]["lat"]
            longitud= lista[i]["location"]["lng"]
            try:
                tipo = lista[i]["categories"][0]["name"]
            except:
                pass
            try:
                direccion= lista[i]["location"]["formattedAddress"]
            except:
                pass
        
            dice2 = {"nombre": nombre, 
                       "latitud":latitud,
                       "longitud": longitud,
                        "tipo" : tipo,
                        "direccion": direccion }
            dice.append (dice2)          
        
            dice1[categoria].update ({"listado": dice})
        db[collection].insert_one (dice1)
    
    return "se han introducido los campos"

In [186]:
def get_data_fields (coord, collection):

    for categoria, codigo in dic_categorias.items():  
        request = client.venues.search(params = {'query': codigo , 'll': coord, "radius": 1500, "limit": 50})
        lista=request["venues"]
        
        
        dice=[]
        for i in range (0,len (lista)): # para cada venue, sacame:
            nombre = lista[i]["name"]
            latitud= lista[i]["location"]["lat"]
            longitud= lista[i]["location"]["lng"]
            try:
                tipo = lista[i]["categories"][0]["name"]
            except:
                tipo= "no definido"
            try:
                direccion= str (lista[i]["location"]["formattedAddress"])[2:-2]
            except:
                direccion= "no disponible"
            
            dice2 = {"nombre": nombre,
                     "categoria": get_primary (categoria),
                "subcategoria": categoria, 
               "latitud":latitud,
               "longitud": longitud,
                "tipo" : tipo,
               "direccion":direccion }
            dice.append (dice2)          
        
        try:   # cuando dice está vacio, dá error, así lo obviamos.
            db[collection].insert_many (dice)
        except:
            pass
    
    return (collection)

In [390]:
def query(collection, items, numero):
    # ver si se pueden poner varios items, modificar funcion caso
    a=list (db[collection]. find ({item: {"$exists": True}},{ item +".listado" :1, "_id":0}))
    try:
        listapeque= a[0]["restaurantes"]["listado"][:numero]
    except:
        return "No hay resultados que mostrar"
        
    df=pd.DataFrame (listapeque)
    
    return making_map (df,collection)

In [187]:
collection= test_and_create ("calle jilguero", "madrid")

In [506]:
db[collection].find_one ()

{'_id': ObjectId('60a44d02bc723d4dbad85c8f'),
 'nombre': 'Av. Oporto, Madrid, Spain',
 'coordenadas': '40.3856358,-3.7250457',
 'latitud': 40.3856358,
 'longitud': -3.7250457}

In [27]:
def get_map (collection, items):
    lista=[]
    for item in items:
        a=list (db[collection]. find ({"categoria": item},{"latitud":1,"nombre":1, "longitud":1, "categoria":1, "_id":0}).limit(15))
        lista.append (a)
    cosa=[]
    for n in range (len(lista)):
        cosa+= lista[n]
    if len (cosa)==0:
        return False
    else:
        df=pd.DataFrame (cosa)
    
    return making_map (df, collection)

In [22]:
def making_map (df,collection):
    
    a=list (db[collection]. find ({"coordenadas": {"$exists": True}},{"latitud":1,"longitud" :1, "nombre":1,"_id":0})) 
    
    lat=a[0]["latitud"]
    
    long=a[0]["longitud"]
    
    nombre= a[0]["nombre"]
    
    mapa = folium.Map(location= [lat, long], zoom_start= 14, tooltip=nombre)
    for i, row in df.iterrows():
        
        marcador = {
            "location":[row["latitud"], row["longitud"]],
            "tooltip" : row["categoria"]
        }
    
        if row["categoria"] == "Festivo":
            icon = Icon(color = "green",
                    prefix = "fa",
                    icon = "glass",
                    icon_color = "black"
        )
        
        elif row["categoria"] == "Vispera":
            icon = Icon(color = "blue",
                    prefix = "fa",
                    icon = "home",
                    icon_color = "black"
        )
        
        else:
            icon = Icon(color = "red",
                    prefix = "fa",
                    icon = "briefcase",
                    icon_color = "black"
            )
        Marker(**marcador,icon = icon ).add_to(mapa)
    return mapa

In [61]:
def grafica_post(collection):
    dic_categorias= {
    
    "restaurantes": ["restaurant"],
    "playas": "4bf58dd8d48988d1e2941735",
    "ocio_nocturno": ["pub","Cocktail Bar"],
    "hoteles": ["hotel"],
    "ocio_deporte": ["gym", "Fitness"],
    "colegios" : ["school", "primary school", "elemental school"],
    "guarderias" : ["kindergarden", "preschool"],
    "universidades": ["college", "university"],
    "aeropuertos" : ["airport"],
    "estaciones de tren": ["train station"],
    "parques": ["park"],
    "hospitales" : ["hospital", "medical center"],
    "cines": ["cinema", "movie theatre"],
    "teatros": ["theatre"],
    "museos": ["museum"],
    "salas_de_conciertos": ["rock club", "jazz club", "concert"],
    "piscina_para_Emilio": ["pool"],
    "bibliotecas" : ["library", "book store"],               
    "centros_comerciales": ["mall", "shopping center"]
    
                                            }
    c= list (dic_categorias.keys())
    lista=[]
    for item in c:
        a=list (db[collection].find ({"categoria": item},{ item :1, "_id":0}))
        cantidad= len (a)
        lista.append ( { collection : cantidad } )
    df=pd.DataFrame (lista, index=c)
    return df

In [182]:
def get_primary (categoria):
    keys= list (dic_categorias.keys())
    cat1= keys[:6]
    cat2= keys[6:10]
    cat3= keys[10:14]
    cat4= keys [14:19]
    cat5= keys [19:23]
    cat6= keys [23:28]
    cat7= keys[-2:]
    
    if categoria in cat1:
        clase = "Infraestructura transporte"
        return clase
    elif categoria in cat2:
        clase= "Infraestructura sanidad"
        return clase
    elif categoria in cat3:
        clase= "Ocio y Restauración"
        return clase
    elif categoria in cat4:
        clase= "Ocio y cultura"
        return clase
    elif categoria in cat5:
        clase= "Ocio y deporte"
        return clase
    elif categoria in cat6:
        clase= "Infraestructuras educacion"
        return clase
    elif categoria in cat7:
        clase= "Comercio"
        return clase
    else:
        return "desconocido"

In [183]:
get_primary ("restaurantes")

'Infraestructura transporte'

In [179]:
clase

'Comercio'

In [141]:
cantidad=[]
dic_insert={}
for categoria, codigo in dic_categorias.items():  
    request 
    lista=request["venues"]
    cantidad= len (lista)
    dice1={categoria: {"número":cantidad }}
    dice=[]
    print (categoria)  
    for i in range (0,len (lista)): # para cada venue, sacame:
        nombre = lista[i]["name"]
        latitud= lista[i]["location"]["lat"]
        longitud= lista[i]["location"]["lng"]

        dice2 = {"nombre": nombre, 
                       "latitud":latitud,
                       "longitud": longitud,
                        "subcategoria": categoria,
                        "categoria": clase}
        dice.append (dice2)          
        print (dice2)
        dice1[categoria].update ({"listado": dice})
    db[collection].insert_one (dice1)

aeropuertos
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'aeropuertos', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'aeropuertos', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'aeropuertos', 'categoria': 'Comercio'}
estaciones de tren
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'estaciones de tren', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'estaciones de tren', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'estaciones de tren', 'categoria': 'Comercio'}
parques
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'parques', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'parques', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'parques', 'categoria': 'Comercio'}
estaciones de metro
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'estaciones de metro', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'estaciones de metro', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'estaciones de metro', 'categoria': 'Comercio'}
estaciones de autobús
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'estaciones de autobús', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'estaciones de autobús', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'estaciones de autobús', 'categoria': 'Comercio'}
carril bici
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'carril bici', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'carril bici', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'carril bici', 'categoria': 'Comercio'}
hospitales
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'hospitales', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'hospitales', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'hospitales', 'categoria': 'Comercio'}
clinicas
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'clinicas', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'clinicas', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'clinicas', 'categoria': 'Comercio'}
farmacias
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'farmacias', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'farmacias', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'farmacias', 'categoria': 'Comercio'}
veterinario
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'veterinario', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'veterinario', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'veterinario', 'categoria': 'Comercio'}
restaurantes
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'restaurantes', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'restaurantes', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'restaurantes', 'categoria': 'Comercio'}
ocio_nocturno
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'ocio_nocturno', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'ocio_nocturno', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'ocio_nocturno', 'categoria': 'Comercio'}
hoteles
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'hoteles', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'hoteles', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'hoteles', 'categoria': 'Comercio'}
cafeterias
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'cafeterias', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'cafeterias', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'cafeterias', 'categoria': 'Comercio'}
cines
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'cines', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'cines', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'cines', 'categoria': 'Comercio'}
teatros
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'teatros', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'teatros', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'teatros', 'categoria': 'Comercio'}
museos
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'museos', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'museos', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'museos', 'categoria': 'Comercio'}
salas_de_conciertos
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'salas_de_conciertos', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'salas_de_conciertos', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'salas_de_conciertos', 'categoria': 'Comercio'}
bibliotecas
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'bibliotecas', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'bibliotecas', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'bibliotecas', 'categoria': 'Comercio'}
ocio_deporte
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'ocio_deporte', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'ocio_deporte', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'ocio_deporte', 'categoria': 'Comercio'}
piscina
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'piscina', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'piscina', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'piscina', 'categoria': 'Comercio'}
canchas
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'canchas', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'canchas', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'canchas', 'categoria': 'Comercio'}
estadios
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'estadios', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'estadios', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'estadios', 'categoria': 'Comercio'}
colegios
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'colegios', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'colegios', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'colegios', 'categoria': 'Comercio'}
guarderias
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'guarderias', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'guarderias', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'guarderias', 'categoria': 'Comercio'}
universidades
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'universidades', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'universidades', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'universidades', 'categoria': 'Comercio'}
Institutos
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'Institutos', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'Institutos', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'Institutos', 'categoria': 'Comercio'}
Escuelas
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'Escuelas', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'Escuelas', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'Escuelas', 'categoria': 'Comercio'}
centros_comerciales
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'centros_comerciales', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'centros_comerciales', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'centros_comerciales', 'categoria': 'Comercio'}
Tiendas minoristas
{'nombre': 'Guardería San Roque', 'latitud': 40.38952195045214, 'longitud': -3.736509681444763, 'subcategoria': 'Tiendas minoristas', 'categoria': 'Comercio'}
{'nombre': 'En La Guarderia Las Amapolas', 'latitud': 40.370525, 'longitud': -3.741557, 'subcategoria': 'Tiendas minoristas', 'categoria': 'Comercio'}
{'nombre': 'Guardería Nido La Cigüeña', 'latitud': 40.38136968264962, 'longitud': -3.7490762782583356, 'subcategoria': 'Tiendas minoristas', 'categoria': 'Comercio'}

In [133]:
keys= list (dic_categorias.keys())

In [134]:
cat1= keys[:6]
cat2= keys[6:10]
cat3= keys[10:14]
cat4= keys [14:19]
cat5= keys [19:23]
cat6= keys [23:28]
cat7= keys[-2:]

In [212]:
collection

'Calle Jilguero, 28025 Madrid, Spain'

In [215]:
a= list (db["Calle Jilguero, 28025 Madrid, Spain"].distinct("subcategoria"))

In [219]:
collection=test_and_create ("calle mayor", "madrid")

In [190]:
def grafica_cat(collection):
    """
    Clon del anterior, pero con una coleción definida
    """
  
    lista=[]
    for item in lista_items():
        a=list (db[collection].find ({"categoria": item},{ item :1, "_id":0}))
        cantidad= len (a)
        lista.append ( { collection : cantidad } )
    df=pd.DataFrame (lista)
    return df

In [191]:
grafica_cat (collection)

NameError: name 'lista_items' is not defined

In [218]:
def grafica_intro():
    """
    función que crea un dataframe con la cantidad de documentos de cada categoria para una colección aleatoria realizando querys para cada
    categoría y quedándose con el len
    """
  
    collection= random.choice (db.list_collection_names())
    lista=[]
    for item in list_categories(collection):
        a=list (db[collection].find ({"categoria": item},{ item :1, "_id":0}))
        cantidad= len (a)
        lista.append ( { collection : cantidad } )
    df=pd.DataFrame (lista, index=list_categories(collection))
    return df

In [223]:
grafica_intro ()

Empty DataFrame
Columns: []
Index: []

In [225]:
def list_categories (collection):
    return (list (db[collection].distinct("categorias")))

SyntaxError: invalid syntax (<ipython-input-225-198649ed0cfe>, line 2)

In [ ]:
list (db[collection].find ({"categoria": item},{ item :1, "_id":0}))

In [224]:
list_categories (collection)

[]

In [228]:
db['Calle Mayor, Madrid, Spain'].distinct("categoria")

[]

In [227]:
collection

'Calle Mayor, Madrid, Spain'

In [229]:
request

{'venues': [{'id': '50a50321e4b0acf883d480ab',
   'name': 'Guardería San Roque',
   'location': {'address': 'Calle De La Oca 35',
    'lat': 40.38952195045214,
    'lng': -3.736509681444763,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.38952195045214,
      'lng': -3.736509681444763}],
    'distance': 782,
    'cc': 'ES',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['Calle De La Oca 35', 'Madrid Madrid']},
   'categories': [{'id': '4f4533814b9074f6e4fb0107',
     'name': 'Nursery School',
     'pluralName': 'Nursery Schools',
     'shortName': 'Nursery School',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/building/school_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1621396357',
   'hasPerk': False},
  {'id': '4fec8037e4b0d7135b7c37a7',
   'name': 'En La Guarderia Las Amapolas',
   'location': {'lat': 40.370525,
    'lng': -3.741557,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.370525,
      'lng': -3.741557}],
    'distance': 1551,
    'cc': 'ES',
    'country': 'España'},
   'categories': [{'id': '4d954b06a243a5684965b473',
     'name': 'Residential Building (Apartment / Condo)',
     'pluralName': 'Residential Buildings (Apartments / Condos)',
     'shortName': 'Residential',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/building/apartment_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1621396357',
   'hasPerk': False},
  {'id': '576aaafc498ed0a321a6d406',
   'name': 'Guardería Nido La Cigüeña',
   'location': {'address': 'Codorniz 4 Bajo Posterior',
    'lat': 40.38136968264962,
    'lng': -3.7490762782583356,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.38136968264962,
      'lng': -3.7490762782583356}],
    'distance': 1353,
    'postalCode': '28025',
    'cc': 'ES',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['Codorniz 4 Bajo Posterior', '28025 Madrid Madrid']},
   'categories': [{'id': '4f4532974b9074f6e4fb0104',
     'name': 'Daycare',
     'pluralName': 'Daycares',
     'shortName': 'Daycare',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/daycare_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1621396357',
   'hasPerk': False}]}

In [235]:
a=gmaps.places_nearby(
    location= coord,
    radius=1500,
    keyword= "restaurante"
)

In [236]:
a.keys()

dict_keys(['html_attributions', 'next_page_token', 'results', 'status'])

In [239]:
a["results"][0]

{'business_status': 'OPERATIONAL',
 'geometry': {'location': {'lat': 40.3800005, 'lng': -3.7490893},
  'viewport': {'northeast': {'lat': 40.38160932989273,
    'lng': -3.747422920107277},
   'southwest': {'lat': 40.37890967010729, 'lng': -3.750122579892721}}},
 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/bar-71.png',
 'name': 'El Rincón del Greco',
 'opening_hours': {'open_now': False},
 'photos': [{'height': 3120,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/112670451980288672610">A Google User</a>'],
   'photo_reference': 'ATtYBwL-9tBPqatfDV933qyyAq00HOA76Le0zrk4KI6ET0UiLV-XzZcAyJ5jY4NrVIFarvvglZgnpub17QC4ob1olZxp-bML5rx__Lb-e3WlIi1dGe6y7xRJqtzPHLQDqNWzwOoTJxRlRiL8EZSvmTbiXNY1SuPsbwT0mEDJbzr-zvPIcaUr',
   'width': 4160}],
 'place_id': 'ChIJdd2wTi-IQQ0R32yOhGKM3pk',
 'plus_code': {'compound_code': '97J2+29 Madrid',
  'global_code': '8CGR97J2+29'},
 'price_level': 1,
 'rating': 4.5,
 'reference': 'ChIJdd2wTi-IQQ0R32yOhGKM3pk',
 'scope': 'GOOGLE',
 'types': ['bar', 'restaurant', 'food', 'point_of_interest', 'establishment'],
 'user_ratings_total': 642,
 'vicinity': 'Av. de Ntra. Sra. de Fátima, 98, Madrid'}

In [247]:
body=driver.find_element_by_xpath ("/html/body/div/div/section/div/div[4]/div/article/div[2]/div/div[3]/div/table/tbody")

In [249]:
tabladatos=[]
for dato in body.find_elements_by_tag_name("tr"):
    fila=[d for d in dato.find_elements_by_tag_name ("td")]
    if len (fila)>1 :
        fila= {
            "codigo postal": fila[0].text,
            "renta bruta media": fila[1].text,
            "renta disponible media": fila[2].text
             }
        tabladatos.append (fila)

In [261]:
df= pd.DataFrame (tabladatos)

In [262]:
df

,codigo postal,renta bruta media,renta disponible media
0,02001-San Antonio Abad- La Pajarita- Polígono ...,32.036,25.823
1,02002-Parque Sur-Huerta de Marzo (Albacete),30.426,24.615
2,02003-Franciscanos (Albacete),26.866,22.145
3,02004-Fátima- Villacerrada (Albacete),23.072,19.449
4,02005-Industria- El Pilar- Feria- Ntra. Sra. d...,25.098,20.822
...,...,...,...
593,50190-Garrapinillos (Zaragoza),29.913,24.229
594,50194-Movera-Torre Larraz (Zaragoza),27.976,22.941
595,50620-Casetas (Zaragoza),22.356,18.812
596,50720-Cartuja Baja (Zaragoza),26.286,21.398
597,50820-San Juan de Mozarrifar (Zaragoza),29.530,23.976

In [255]:
a=df["codigo postal"][1]

In [257]:
def limpia_codigo (a):
    return a[:5]

In [256]:
a

'02002-Parque Sur-Huerta de Marzo (Albacete)'

In [258]:
limpia_codigo (a)

'02002'

In [263]:
df["codigo postal"]= df["codigo postal"].apply (limpia_codigo)

In [264]:
df

    codigo postal renta bruta media renta disponible media
0           02001            32.036                 25.823
1           02002            30.426                 24.615
2           02003            26.866                 22.145
3           02004            23.072                 19.449
4           02005            25.098                 20.822
..            ...               ...                    ...
593         50190            29.913                 24.229
594         50194            27.976                 22.941
595         50620            22.356                 18.812
596         50720            26.286                 21.398
597         50820            29.530                 23.976

[598 rows x 3 columns]

In [265]:
df.to_csv ("../Data/rentaporcp.csv")

In [306]:
rentacodigo = pd.read_csv ("../Data/rentaporcp.csv")

In [317]:
rentacodigo

     Unnamed: 0  codigo postal  renta bruta media  renta disponible media
0             0           2001             32.036                  25.823
1             1           2002             30.426                  24.615
2             2           2003             26.866                  22.145
3             3           2004             23.072                  19.449
4             4           2005             25.098                  20.822
..          ...            ...                ...                     ...
593         593          50190             29.913                  24.229
594         594          50194             27.976                  22.941
595         595          50620             22.356                  18.812
596         596          50720             26.286                  21.398
597         597          50820             29.530                  23.976

[598 rows x 4 columns]

In [361]:
def test_and_create( ubicacion, region):
    
    """ 
        Esta función recibo dos inputs del usuario, los utiliza para hacer una geolozalización mediante la api de google places, de la que
        obtengo sus coordenadas, que guardamos en 2 formatos, y la dirección, que usaremos como nombre para las colecciones. Meto las variables
        que me interesan en un diccionario, compruebo que la colección no exista por el nombre, si no existe la creo y cómo salida llamámos a
        otra función pasándole el diccionario y el nombre de la colección
    """
    try: 
        busqueda= ubicacion + ", " + region #unimos en un string para pasarselo como búsqueda a gplaces
        coords=gmaps.geocode( address= busqueda)
        nombre = coords[0]["address_components"][5]["short_name"]
        if len (nombre)<5:
            return "los datos introduucidos no son correctos"
        else:
            pass
        a=coords[0]["geometry"]["location"]["lat"] 
        b=coords[0]["geometry"]["location"]["lng"]
        c = str (a) +"," + str(b) # Formato que luego entienda foursquare
        print (nombre)
        for n in range (len (rentacodigo)):
            if rentacodigo["codigo postal"][n] == nombre: 
                renta_neta= rentacodigo["renta disponible media"][n]
                renta_bruta= rentacodigo["renta bruta media"][n]
    
                dic= {"nombre": nombre,
                "coordenadas": c,
                 "latitud":a,
                 "longitud":b,
                "renta bruta": renta_bruta,
                 "renta neta": renta_neta}
            else:
                pass
            
       
        
        else:
            
            pass
        
        db.create_collection (nombre)   
    except: "los datos introducidos no son correctos"
        
    return  dic

In [362]:
test_and_create ("28018", "madrid")

UnboundLocalError: local variable 'dic' referenced before assignment

In [311]:
def test (nombre):
    """
        Función que comprueba si la colleción existe, devuelve un booleano
    """
    lista= db.list_collection_names()
    return nombre in lista

In [468]:
coords=gmaps.geocode( address = "50820, madrid")

In [471]:
coords

[{'address_components': [{'long_name': 'Madrid',
    'short_name': 'Madrid',
    'types': ['locality', 'political']},
   {'long_name': 'Madrid',
    'short_name': 'M',
    'types': ['administrative_area_level_2', 'political']},
   {'long_name': 'Community of Madrid',
    'short_name': 'MD',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'Spain',
    'short_name': 'ES',
    'types': ['country', 'political']}],
  'formatted_address': 'Madrid, Spain',
  'geometry': {'bounds': {'northeast': {'lat': 40.5638447, 'lng': -3.5249115},
    'southwest': {'lat': 40.3120639, 'lng': -3.8341618}},
   'location': {'lat': 40.4167754, 'lng': -3.7037902},
   'location_type': 'APPROXIMATE',
   'viewport': {'northeast': {'lat': 40.5638447, 'lng': -3.5249115},
    'southwest': {'lat': 40.3120639, 'lng': -3.8341618}}},
  'place_id': 'ChIJgTwKgJcpQg0RaSKMYcHeNsQ',
  'types': ['locality', 'political']}]

In [484]:
import pgeocode
nomi = pgeocode.Nominatim("es")
a = nomi.query_postal_code("5151554")
a

postal_code       5151554
country_code          NaN
place_name            NaN
state_name            NaN
state_code            NaN
county_name           NaN
county_code           NaN
community_name        NaN
community_code        NaN
latitude              NaN
longitude             NaN
accuracy              NaN
Name: 0, dtype: object

In [497]:
rentacodigo= pd.read_csv ("../Data/rentaporcp.csv")

In [498]:
rentacodigo['codigo postal'] = rentacodigo['codigo postal'].apply(lambda x: "0" + str(x) if len(str(x))==4 else str(x))
#rentacodigo['codigo postal'] = rentacodigo['codigo postal'].apply(int)
rentacodigo['codigo postal']

0      02001
1      02002
2      02003
3      02004
4      02005
       ...
593    50190
594    50194
595    50620
596    50720
597    50820
Name: codigo postal, Length: 598, dtype: object

In [505]:
def validar_codigo (cp):
    '''Esta función comprueba que e lcódigo postal devuevla una dirección y que tenga una longitud de 5'''
    
    coords=gmaps.geocode( address= cp + "," + pais)
    nombre = coords[0]["address_components"][0]["short_name"]
    
    if type(nombre) == int and len(nombre)==5:
        return nombre
    else:
        nomi = pgeocode.Nominatim("es")
        a = nomi.query_postal_code(cp)
        if a["latitude"]==np.nan:
            return "Latitude es un NaN"
        else:
            nombre=a["postal_code"]
            if len(nombre)==5:
                return nombre

In [508]:
def test_and_create(cp, pais): 
    """ 
        Esta función recibo dos inputs del usuario, los utiliza para hacer una geolozalización mediante la api de google places, de la que
        obtengo sus coordenadas, que guardamos en 2 formatos, y la dirección, que usaremos como nombre para las colecciones. Meto las variables
        que me interesan en un diccionario, compruebo que la colección no exista por el nombre, si no existe la creo y cómo salida llamámos a
        otra función pasándole el diccionario y el nombre de la colección
    """
    #Validamos el input
    name = validar_codigo(cp)
    
    #Comprobamos que no esté creada
    if test(nombre):
        return nombre
        
    #Definimos coordenadas
    a=coords[0]["geometry"]["location"]["lat"] 
    b=coords[0]["geometry"]["location"]["lng"]
    c = str (a) +"," + str(b) # Formato que luego entienda foursquare
    
    #Renta
    renta_neta=0
    renta_bruta=0
    
    for n in range (len(rentacodigo)):
        if rentacodigo["codigo postal"][n] == str(nombre):
                renta_neta += rentacodigo["renta disponible media"][n]
                renta_bruta += rentacodigo["renta bruta media"][n]
        else:
            print("El código postal no se encuentra en el df")
        
        #Creamos el diccionario
        dic= {          "nombre": nombre,
                        "coordenadas": c,
                        "latitud":a,
                        "longitud":b,
                        "renta bruta": renta_bruta,
                        "renta neta": renta_neta}
    
    #Creamos la colección
    db.create_collection (str(nombre))   
    
        
    return  get_ (nombre, dic)

In [509]:
import numpy as np
test_and_create ("50820", "madrid")

02001 50820
02002 50820
02003 50820
02004 50820
02005 50820
02006 50820
02008 50820
02049 50820
03001 50820
03002 50820
03003 50820
03004 50820
03005 50820
03006 50820
03007 50820
03008 50820
03009 50820
03010 50820
03011 50820
03012 50820
03013 50820
03014 50820
03015 50820
03016 50820
03112 50820
03113 50820
03195 50820
03201 50820
03202 50820
03203 50820
03204 50820
03205 50820
03206 50820
03208 50820
03291 50820
03292 50820
03293 50820
03294 50820
03295 50820
03296 50820
03320 50820
03540 50820
03699 50820
04001 50820
04002 50820
04003 50820
04004 50820
04005 50820
04006 50820
04007 50820
04008 50820
04009 50820
04120 50820
04130 50820
04131 50820
07001 50820
07002 50820
07003 50820
07004 50820
07005 50820
07006 50820
07007 50820
07008 50820
07009 50820
07010 50820
07011 50820
07012 50820
07013 50820
07014 50820
07015 50820
07120 50820
07198 50820
07199 50820
07600 50820
07610 50820
08001 50820
08002 50820
08003 50820
08004 50820
08005 50820
08006 50820
08007 50820
08008 50820
08009 50820
08010 50820
08011 50820
08012 50820
08013 50820
08014 50820
08015 50820
08016 50820
08017 50820
08018 50820
08019 50820
08020 50820
08021 50820
08022 50820
08023 50820
08024 50820
08025 50820
08026 50820
08027 50820
08028 50820
08029 50820
08030 50820
08031 50820
08032 50820
08033 50820
08034 50820
08035 50820
08036 50820
08037 50820
08038 50820
08041 50820
08042 50820
08172 50820
08173 50820
08174 50820
08195 50820
08197 50820
08198 50820
08201 50820
08202 50820
08203 50820
08204 50820
08205 50820
08206 50820
08207 50820
08208 50820
08221 50820
08222 50820
08223 50820
08224 50820
08225 50820
08226 50820
08227 50820
08228 50820
08901 50820
08902 50820
08903 50820
08904 50820
08905 50820
08906 50820
08907 50820
08908 50820
08911 50820
08912 50820
08913 50820
08914 50820
08915 50820
08916 50820
08917 50820
08918 50820
09001 50820
09002 50820
09003 50820
09004 50820
09005 50820
09006 50820
09007 50820
11400 50820
11401 50820
11402 50820
11403 50820
11404 50820
11405 50820
11406 50820
11407 50820
11408 50820
11570 50820
11591 50820
12001 50820
12002 50820
12003 50820
12004 50820
12005 50820
12006 50820
12100 50820
14001 50820
14002 50820
14003 50820
14004 50820
14005 50820
14006 50820
14007 50820
14008 50820
14009 50820
14010 50820
14011 50820
14012 50820
14013 50820
14014 50820
14193 50820
14610 50820
14710 50820
15001 50820
15002 50820
15003 50820
15004 50820
15005 50820
15006 50820
15007 50820
15008 50820
15009 50820
15010 50820
15011 50820
15190 50820
18001 50820
18002 50820
18003 50820
18004 50820
18005 50820
18006 50820
18007 50820
18008 50820
18009 50820
18010 50820
18011 50820
18012 50820
18013 50820
18014 50820
18015 50820
26001 50820
26002 50820
26003 50820
26004 50820
26005 50820
26006 50820
26007 50820
26008 50820
28001 50820
28002 50820
28003 50820
28004 50820
28005 50820
28006 50820
28007 50820
28008 50820
28009 50820
28010 50820
28011 50820
28012 50820
28013 50820
28014 50820
28015 50820
28016 50820
28017 50820
28018 50820
28019 50820
28020 50820
28021 50820
28022 50820
28023 50820
28024 50820
28025 50820
28026 50820
28027 50820
28028 50820
28029 50820
28030 50820
28031 50820
28032 50820
28033 50820
28034 50820
28035 50820
28036 50820
28037 50820
28038 50820
28039 50820
28040 50820
28041 50820
28042 50820
28043 50820
28044 50820
28045 50820
28046 50820
28047 50820
28048 50820
28049 50820
28050 50820
28051 50820
28053 50820
28054 50820
28055 50820
28100 50820
28108 50820
28109 50820
28223 50820
28224 50820
28231 50820
28232 50820
28290 50820
28801 50820
28802 50820
28803 50820
28804 50820
28805 50820
28806 50820
28807 50820
28901 50820
28902 50820
28903 50820
28904 50820
28905 50820
28906 50820
28907 50820
28909 50820
28911 50820
28912 50820
28913 50820
28914 50820
28915 50820
28916 50820
28917 50820
28918 50820
28919 50820
28921 50820
28922 50820
28923 50820
28924 50820
28925 50820
28931 50820
28932 50820
28933 50820
28934 50820
28935 50820
28936 50820
28937 50820
28938 50820
29001 50820
29002 50820
29003 50820
29004 50820
29006 50820
29007 50820
29008 50820
29009 50820
29010 50820
29011 50820
29012 50820
29013 50820
29014 50820
29016 50820
29017 50820
29018 50820
29140 50820
29190 50820
29590 50820
29591 50820
30001 50820
30002 50820
30003 50820
30004 50820
30005 50820
30006 50820
30007 50820
30008 50820
30009 50820
30010 50820
30011 50820
30012 50820
30100 50820
30107 50820
30110 50820
30120 50820
30139 50820
30150 50820
30151 50820
30152 50820
30153 50820
30157 50820
30158 50820
30160 50820
30161 50820
30162 50820
30163 50820
30168 50820
30169 50820
30201 50820
30202 50820
30203 50820
30204 50820
30205 50820
30300 50820
30310 50820
30319 50820
30330 50820
30366 50820
30370 50820
30380 50820
30385 50820
30390 50820
30393 50820
30394 50820
30395 50820
30570 50820
30579 50820
30580 50820
30589 50820
30590 50820
30593 50820
30594 50820
30830 50820
30832 50820
30833 50820
30835 50820
33001 50820
33002 50820
33003 50820
33004 50820
33005 50820
33006 50820
33007 50820
33008 50820
33009 50820
33010 50820
33011 50820
33012 50820
33013 50820
33191 50820
33201 50820
33202 50820
33203 50820
33204 50820
33205 50820
33206 50820
33207 50820
33208 50820
33209 50820
33210 50820
33211 50820
33212 50820
33213 50820
33350 50820
33391 50820
33392 50820
33394 50820
35001 50820
35002 50820
35003 50820
35004 50820
35005 50820
35006 50820
35007 50820
35008 50820
35009 50820
35010 50820
35011 50820
35012 50820
35013 50820
35014 50820
35015 50820
35016 50820
35017 50820
35018 50820
35019 50820
36201 50820
36202 50820
36203 50820
36204 50820
36205 50820
36206 50820
36207 50820
36208 50820
36209 50820
36210 50820
36211 50820
36212 50820
36213 50820
36214 50820
36215 50820
36216 50820
36312 50820
36315 50820
36317 50820
36318 50820
36330 50820
36331 50820
36390 50820
38001 50820
38002 50820
38003 50820
38004 50820
38005 50820
38006 50820
38007 50820
38008 50820
38009 50820
38010 50820
38107 50820
38108 50820
38109 50820
38111 50820
38120 50820
38180 50820
39001 50820
39002 50820
39003 50820
39004 50820
39005 50820
39006 50820
39007 50820
39008 50820
39009 50820
39010 50820
39011 50820
39012 50820
41001 50820
41002 50820
41003 50820
41004 50820
41005 50820
41006 50820
41007 50820
41008 50820
41009 50820
41010 50820
41011 50820
41012 50820
41013 50820
41014 50820
41015 50820
41016 50820
41018 50820
41019 50820
41020 50820
46001 50820
46002 50820
46003 50820
46004 50820
46005 50820
46006 50820
46007 50820
46008 50820
46009 50820
46010 50820
46011 50820
46012 50820
46013 50820
46014 50820
46015 50820
46016 50820
46017 50820
46018 50820
46019 50820
46020 50820
46021 50820
46022 50820
46023 50820
46024 50820
46025 50820
46026 50820
46035 50820
46112 50820
47001 50820
47002 50820
47003 50820
47004 50820
47005 50820
47006 50820
47007 50820
47008 50820
47009 50820
47010 50820
47011 50820
47012 50820
47013 50820
47014 50820
47015 50820
47016 50820
50001 50820
50002 50820
50003 50820
50004 50820
50005 50820
50006 50820
50007 50820
50008 50820
50009 50820
50010 50820
50011 50820
50012 50820
50013 50820
50014 50820
50015 50820
50016 50820
50017 50820
50018 50820
50019 50820
50021 50820
50022 50820
50059 50820
50120 50820
50190 50820
50194 50820
50620 50820
50720 50820

{'nombre': 50820,
 'coordenadas': '40.4167754,-3.7037902',
 'latitud': 40.4167754,
 'longitud': -3.7037902,
 'renta bruta': 29.53,
 'renta neta': 23.976}

In [369]:
def get_(nombre, dic):
    return dic

In [446]:
rentacodigo

     Unnamed: 0  codigo postal  renta bruta media  renta disponible media
0             0           2001             32.036                  25.823
1             1           2002             30.426                  24.615
2             2           2003             26.866                  22.145
3             3           2004             23.072                  19.449
4             4           2005             25.098                  20.822
..          ...            ...                ...                     ...
593         593          50190             29.913                  24.229
594         594          50194             27.976                  22.941
595         595          50620             22.356                  18.812
596         596          50720             26.286                  21.398
597         597          50820             29.530                  23.976

[598 rows x 4 columns]

In [437]:
coords[0]['address_components']

[{'long_name': '28018', 'short_name': '28018', 'types': ['postal_code']},
 {'long_name': 'Madrid',
  'short_name': 'Madrid',
  'types': ['locality', 'political']},
 {'long_name': 'Madrid',
  'short_name': 'M',
  'types': ['administrative_area_level_2', 'political']},
 {'long_name': 'Community of Madrid',
  'short_name': 'MD',
  'types': ['administrative_area_level_1', 'political']},
 {'long_name': 'Spain', 'short_name': 'ES', 'types': ['country', 'political']}]

In [443]:
coords2[0]['address_components'][6].get ("long_name")

'28004'

In [444]:
coords2[0]['address_components'][6]["long_name"]

'28004'