### En este jupyter obtendremos y guardaremos la renta media para cada código postal en España

In [1]:
from scrap import get_df
from selenium import webdriver
from scrap import limpia_codigo

In [2]:
xpath= "/html/body/div/div/section/div/div[4]/div/article/div[2]/div/div[3]/div/table/tbody"
url = "https://www.epdata.es/datos/renta-bruta-barrios-codigos-postales-estadistica-datos/269"

In [3]:
driver = webdriver.Chrome()
driver.implicitly_wait(3)

In [4]:
driver.get (url)

In [5]:
body=driver.find_element_by_xpath (xpath)

In [8]:
df=get_df (body)

In [9]:
df["codigo postal"]=df["codigo postal"].apply (limpia_codigo)

In [23]:
df.to_csv ("../Data/rentaporcp.csv")

In [19]:
df["codigo postal"][254]

'28025'

In [ ]:
df["codigo postal"][254]

In [21]:
df["renta disponible media"][254]

'20.457'

In [24]:
df

    codigo postal renta bruta media renta disponible media
0           02001            32.036                 25.823
1           02002            30.426                 24.615
2           02003            26.866                 22.145
3           02004            23.072                 19.449
4           02005            25.098                 20.822
..            ...               ...                    ...
593         50190            29.913                 24.229
594         50194            27.976                 22.941
595         50620            22.356                 18.812
596         50720            26.286                 21.398
597         50820            29.530                 23.976

[598 rows x 3 columns]